#requestNewIcon.modal.fade(tabindex='-1', role='dialog', aria-labelledby='requestNewIcon')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          i.eos-icons
            | close
        h4.modal-title 
          | Request new icon
      .modal-body
        p 
          | If you couldn’t find the icon you were looking for, open a Gitlab issue detailing the use case you need to represent graphically. 
          | Add as much information as possible (purpose of the icon, product it is intended for, etc) to help us provide a better result. 
      .modal-footer
        a.btn.btn-primary(href='https://gitlab.com/SUSE-UIUX/eos/issues/new?issue%5Bassignee_id%5D=&issue%5Bmilestone_id%5D=', target='_blank')
          | Request new icon
