extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Writing Guides
      p.subheadline
        | Learn the best way to communicate with users in a clear and consistent way.
    hr
    .dashboard-writing
      .writing-mosaic
        img.img-responsive(src='/images/dashboard-writing/writing-splash.svg', alt='EOS - Writing guides')
      .row
        .col-sm-4
          a.card.card-horizontal.card-horizontal-color.brand-voice-card(href='writing/brand-voice')
            .card-content
              header
                h4
                  | Brand voice
                p
                  | Who we are is percived in how we write: expert, adaptive, etc.
                br
              div
                img(src='/images/dashboard-writing/microphone.svg', alt='EOS - Brand voice')
            span.card-icon
              i.eos-icons.md-18
                | library_books
            footer
              p
                | Read more
        .col-sm-4
          a.card.card-horizontal.card-horizontal-color.brand-tone-card(href='writing/brand-tone')
            .card-content
              header
                h4
                  | Brand tone
                p
                  | Our writing changes its tone according to different scenarios: success, error, etc.
              div
                img(src='/images/dashboard-writing/volumen.svg', alt='EOS - Brand voice')
            span.card-icon
              i.eos-icons.md-18
                | library_books    
            footer
              | Read more
        .col-sm-4
          a.card.card-horizontal.card-horizontal-color.ux-writing-card(href='writing/ux-writing')
            .card-content
              header
                h4
                  | UX writing
                p
                  | Every person writes in their own way. As a brand we should write consistensly as well.
              div
                img(src='/images/dashboard-writing/pencil.svg', alt='EOS - Brand voice')
            span.card-icon
              i.eos-icons.md-18
                | library_books    
            footer
              | Read more
    hr
    article
      h3.title-strong
        | Conventions and rules
      p
        | In addition to learning about how to express our voice and tone 
        | through proper UX writing, it is also important that we follow 
        | certain 
        a(href='writing/conventions-and-rules')
          | conventions and rules 
        | in order for our writing to be seen as coming from a single entity.
      p 
        | You'll find information such as capitialization rules for titles and 
        | text as well as general conventions for punctuation.
