/* Changelog page
  ========================================================================== */
$eos-changelog-element-border: 1px solid #eee;
$eos-changelog-element-new: $eos-bc-green-500;
$eos-changelog-element-impprovements: $eos-bc-violet-500;
$eos-changelog-element-fixes: $eos-bc-yellow-500;
$eos-changelog-element-date: $eos-bc-gray-500;
$eos-changelog-element-header-color: $eos-bc-cerulean-500;

$eos-changelog-element-padding: $eos-xl 0;
$eos-changelog-element-badge-border: 2px;
$eos-changelog-toggle-button-margin: $eos-m;
