$eos-gradient-wrap-margin: 5% 0;
$eos-gradient-display-percentae-width: 70%;
$eos-gradient-display-percentae-middle-margin: -5px;
$eos-gradient-box-margin: $eos-xs 0;
$eos-gradient-left-right-font-weight: 300;
$eos-gradient-left-right-font-margin: 0 $eos-m;
$eos-gradient-left-right-width: 20%;
$eos-gradient-left-right-before-after-height-width: $eos-l;
$eos-gradient-left-right-before-after-margin: 0 $eos-s;
$eos-gradient-container-height: $eos-l;
$eos-gradient-container-margin: $eos-s 0;
$eos-gradient-custom-media-query: 1130px;
$eos-gradient-left-right-percetange: 2%;

/* 500 to 500 */
$eos-gradient-1-1: linear-gradient(to right, $eos-bc-red-500 0%, $eos-bc-orange-500 100%);
$eos-gradient-1-2: linear-gradient(to right, $eos-bc-orange-500 0%, $eos-bc-yellow-500 100%);
$eos-gradient-1-3: linear-gradient(to right, $eos-bc-red-500 0%, $eos-bc-yellow-500 100%);
$eos-gradient-1-4: linear-gradient(to right, $eos-bc-blue-500 0%, $eos-bc-cerulean-500 100%);
$eos-gradient-1-5: linear-gradient(to right, $eos-bc-blue-500 0%, $eos-bc-green-500 100%);
$eos-gradient-1-6: linear-gradient(to right, $eos-bc-green-500 0%, $eos-bc-cerulean-500 100%);
$eos-gradient-1-7: linear-gradient(to right, $eos-bc-violet-500 0%, $eos-bc-cerulean-500 100%);
$eos-gradient-1-8: linear-gradient(to right, $eos-bc-violet-500 0%, $eos-bc-red-500 100%);
$eos-gradient-1-9: linear-gradient(to right, $eos-bc-blue-500 0%, $eos-bc-dark-gray 100%);
$eos-gradient-1-10: linear-gradient(to right, $eos-bc-dark-gray 0%, $eos-bc-cerulean-500 100%);
/* 100 to 100 */
$eos-gradient-2-1: linear-gradient(to right, $eos-bc-red-100 0%, $eos-bc-orange-100 100%);
$eos-gradient-2-2: linear-gradient(to right, $eos-bc-orange-100 0%, $eos-bc-yellow-100 100%);
$eos-gradient-2-3: linear-gradient(to right, $eos-bc-red-100 0%, $eos-bc-yellow-100 100%);
$eos-gradient-2-4: linear-gradient(to right, $eos-bc-blue-100 0%, $eos-bc-cerulean-100 100%);
$eos-gradient-2-5: linear-gradient(to right, $eos-bc-blue-100 0%, $eos-bc-green-100 100%);
$eos-gradient-2-6: linear-gradient(to right, $eos-bc-green-100 0%, $eos-bc-cerulean-100 100%);
$eos-gradient-2-7: linear-gradient(to right, $eos-bc-violet-100 0%, $eos-bc-cerulean-100 100%);
$eos-gradient-2-8: linear-gradient(to right, $eos-bc-violet-100 0%, $eos-bc-red-100 100%);
/* 500 to 100 */
$eos-gradient-3-1: linear-gradient(to right, $eos-bc-blue-500 0%, $eos-bc-blue-100 100%);
$eos-gradient-3-2: linear-gradient(to right, $eos-bc-green-500 0%, $eos-bc-green-100 100%);
$eos-gradient-3-3: linear-gradient(to right, $eos-bc-cerulean-500 0%, $eos-bc-cerulean-100 100%);
$eos-gradient-3-4: linear-gradient(to right, $eos-bc-violet-500 0%, $eos-bc-violet-100 100%);
$eos-gradient-3-5: linear-gradient(to right, $eos-bc-red-500 0%, $eos-bc-red-100 100%);
$eos-gradient-3-6: linear-gradient(to right, $eos-bc-orange-500 0%, $eos-bc-orange-100 100%);
$eos-gradient-3-7: linear-gradient(to right, $eos-bc-yellow-500 0%, $eos-bc-yellow-100 100%);
$eos-gradient-3-8: linear-gradient(to right, $eos-bc-gray-500 0%, $eos-bc-gray-100 100%);
