.graidents-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: $eos-gradient-wrap-margin;

  .gradients-display-percentage {
    display: flex;
    justify-content: space-between;
    width: $eos-gradient-display-percentae-width;
  }

  .gradient-box {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: $eos-gradient-box-margin;
    width: 95%;
  }

  .left-value,
  .right-value {
    align-items: center;
    display: flex;
    font-weight: $eos-gradient-left-right-font-weight;
    justify-content: center;
    margin: $eos-gradient-left-right-font-margin;
    position: relative;
    width: $eos-gradient-left-right-width;
  }

  .left-value::before,
  .right-value::after {
    content: '';
    height: $eos-gradient-left-right-before-after-height-width;
    margin: $eos-gradient-left-right-before-after-margin;
    position: absolute;
    width: $eos-gradient-left-right-before-after-height-width;

    @media screen and (max-width: $eos-gradient-custom-media-query) {
      display: none;
    }
  }

  .left-value:before {
    left: $eos-gradient-left-right-percetange;
  }

  .right-value::after {
    right: $eos-gradient-left-right-percetange;
  }

  .gradient-container {
    align-items: center;
    display: flex;
    height: $eos-gradient-container-height;
    justify-content: center;
    margin: $eos-gradient-container-margin;
    position: relative;
    width: 90%;
  }

  /* 500 to 500 */
  .gradient-1-1 {
    .left-value::before {
      background: $eos-bc-red-500;
    }

    .right-value::after {
      background: $eos-bc-orange-500;
    }

    .gradient-container {
      background: $eos-gradient-1-1;
    }
  }

  .gradient-1-2 {
    .left-value::before {
      background: $eos-bc-orange-500;
    }

    .right-value::after {
      background: $eos-bc-yellow-500;
    }

    .gradient-container {
      background: $eos-gradient-1-2;
    }
  }

  .gradient-1-3 {
    .left-value::before {
      background: $eos-bc-red-500;
    }

    .right-value::after {
      background: $eos-bc-yellow-500;
    }

    .gradient-container {
      background: $eos-gradient-1-3;
    }
  }

  .gradient-1-4 {
    .left-value::before {
      background: $eos-bc-blue-500;
    }

    .right-value::after {
      background: $eos-bc-cerulean-500;
    }

    .gradient-container {
      background: $eos-gradient-1-4;
    }
  }

  .gradient-1-5 {
    .left-value::before {
      background: $eos-bc-blue-500;
    }

    .right-value::after {
      background: $eos-bc-green-500;
    }

    .gradient-container {
      background: $eos-gradient-1-5;
    }
  }

  .gradient-1-6 {
    .left-value::before {
      background: $eos-bc-green-500;
    }

    .right-value::after {
      background: $eos-bc-cerulean-500;
    }

    .gradient-container {
      background: $eos-gradient-1-6;
    }
  }

  .gradient-1-7 {
    .left-value::before {
      background: $eos-bc-violet-500;
    }

    .right-value::after {
      background: $eos-bc-cerulean-500;
    }

    .gradient-container {
      background: $eos-gradient-1-7;
    }
  }

  .gradient-1-8 {
    .left-value::before {
      background: $eos-bc-violet-500;
    }

    .right-value::after {
      background: $eos-bc-red-500;
    }

    .gradient-container {
      background: $eos-gradient-1-8;
    }
  }

  .gradient-1-9 {
    .left-value::before {
      background: $eos-bc-blue-500;
    }

    .right-value::after {
      background: $eos-bc-dark-gray;
    }

    .gradient-container {
      background: $eos-gradient-1-9;
    }
  }

  .gradient-1-10 {
    .left-value::before {
      background: $eos-bc-dark-gray;
    }

    .right-value::after {
      background: $eos-bc-cerulean-500;
    }

    .gradient-container {
      background: $eos-gradient-1-10;
    }
  }

  /* 100 to 100 */
  .gradient-2-1 {
    .left-value::before {
      background: $eos-bc-red-100;
    }

    .right-value::after {
      background: $eos-bc-orange-100;
    }

    .gradient-container {
      background: $eos-gradient-2-1;
    }
  }

  .gradient-2-2 {
    .left-value::before {
      background: $eos-bc-orange-100;
    }

    .right-value::after {
      background: $eos-bc-yellow-100;
    }

    .gradient-container {
      background: $eos-gradient-2-2;
    }
  }

  .gradient-2-3 {
    .left-value::before {
      background: $eos-bc-red-100;
    }

    .right-value::after {
      background: $eos-bc-yellow-100;
    }

    .gradient-container {
      background: $eos-gradient-2-3;
    }
  }

  .gradient-2-4 {
    .left-value::before {
      background: $eos-bc-blue-100;
    }

    .right-value::after {
      background: $eos-bc-cerulean-100;
    }

    .gradient-container {
      background: $eos-gradient-2-4;
    }
  }

  .gradient-2-5 {
    .left-value::before {
      background: $eos-bc-blue-100;
    }

    .right-value::after {
      background: $eos-bc-green-100;
    }

    .gradient-container {
      background: $eos-gradient-2-5;
    }
  }

  .gradient-2-6 {
    .left-value::before {
      background: $eos-bc-green-100;
    }

    .right-value::after {
      background: $eos-bc-cerulean-100;
    }

    .gradient-container {
      background: $eos-gradient-2-6;
    }
  }

  .gradient-2-7 {
    .left-value::before {
      background: $eos-bc-violet-100;
    }

    .right-value::after {
      background: $eos-bc-cerulean-100;
    }

    .gradient-container {
      background: $eos-gradient-2-7;
    }
  }

  .gradient-2-8 {
    .left-value::before {
      background: $eos-bc-violet-100;
    }

    .right-value::after {
      background: $eos-bc-red-100;
    }

    .gradient-container {
      background: $eos-gradient-2-8;
    }
  }

  /* 500 to 100 */
  .gradient-3-1 {
    .left-value::before {
      background: $eos-bc-blue-500;
    }

    .right-value::after {
      background: $eos-bc-blue-100;
    }

    .gradient-container {
      background: $eos-gradient-3-1;
    }
  }

  .gradient-3-2 {
    .left-value::before {
      background: $eos-bc-green-500;
    }

    .right-value::after {
      background: $eos-bc-green-100;
    }

    .gradient-container {
      background: $eos-gradient-3-2;
    }
  }

  .gradient-3-3 {
    .left-value::before {
      background: $eos-bc-cerulean-500;
    }

    .right-value::after {
      background: $eos-bc-cerulean-100;
    }

    .gradient-container {
      background: $eos-gradient-3-3;
    }
  }

  .gradient-3-4 {
    .left-value::before {
      background: $eos-bc-violet-500;
    }

    .right-value::after {
      background: $eos-bc-violet-100;
    }

    .gradient-container {
      background: $eos-gradient-3-4;
    }
  }

  .gradient-3-5 {
    .left-value::before {
      background: $eos-bc-red-500;
    }

    .right-value::after {
      background: $eos-bc-red-100;
    }

    .gradient-container {
      background: $eos-gradient-3-5;
    }
  }

  .gradient-3-6 {
    .left-value::before {
      background: $eos-bc-orange-500;
    }

    .right-value::after {
      background: $eos-bc-orange-100;
    }

    .gradient-container {
      background: $eos-gradient-3-6;
    }
  }

  .gradient-3-7 {
    .left-value::before {
      background: $eos-bc-yellow-500;
    }

    .right-value::after {
      background: $eos-bc-yellow-100;
    }

    .gradient-container {
      background: $eos-gradient-3-7;
    }
  }

  .gradient-3-8 {
    .left-value::before {
      background: $eos-bc-gray-500;
    }

    .right-value::after {
      background: $eos-bc-gray-100;
    }

    .gradient-container {
      background: $eos-gradient-3-8;
    }
  }
}
