/* Slide-in panel
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/panel-slidein/panel-slidein.variables.scss */
.panel-slidein {
  background: $eos-panel-slidein-bg;
  box-shadow: $eos-box-shadow;
  padding: $eos-panel-slidein-padding;
  position: fixed;

  hr {
    margin: $eos-panel-slidein-hr-padding 0;
  }

  &-right {
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: $eos-panel-slidein-height;
    left: -$eos-panel-slidein-width;
    overflow-y: auto;
    transition: $eos-panel-sliding-transition;
    width: $eos-panel-slidein-width;

    @media screen and (max-width: $eos-sd-max) {
      bottom: -$eos-panel-slidein-width;
      transition: $eos-panel-sliding-mobile;
    }

    &.visible {
      left: 0;
      z-index: $eos-panel-slidin-zindex;

      @media screen and (min-width: $eos-md-min) {
        top: 0;
      }
    }
  }

  &-body {
    flex: 1;
  }

  &-close {
    @extend .clickable;
    position: absolute;
    right: $eos-panel-slidein-close-right;
    top: $eos-panel-slidein-close-top;
  }

  &-footer {
    bottom: 0;
    padding: $eos-panel-slidein-footer-padding;
  }
}

// Hide ligatures for animated icons
.hide-ligature {
  + span {
    display: none;
  }
}

/* Style for devices.
========================================================================== */
@media screen and (max-width: $eos-md-min) {
  .panel-slidein {
    &.visible {
      bottom: 0;
      height: auto;
      left: 0;
      overflow-y: hidden;
      width: 100%;
    }

    .panel-slidein-footer {
      bottom: 0;
      font-size: $eos-ps-device-font-size;
      padding: $eos-ps-device-footer-padding;
    }

    .label-default {
      font-size: $eos-ps-device-font-size;
      font-weight: normal;
      margin: $eos-ps-device-label-margin;
    }
  }

  .ps-device-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $eos-ps-device-top-padding;

    .js-animated-icons-html {
      display: inline;
    }

    .margin-top-xl,
    .margin-bottom-xl {
      margin: 0;
    }

    .ps-device-icon {
      margin: 0;
      position: absolute;
    }

    h3 {
      margin: $eos-ps-device-h3-margin;
    }

    h6 {
      display: none;
    }

    code {
      display: flex;
      flex-wrap: wrap;
      margin: $eos-ps-device-code-margin;
    }

    @media screen and (max-width: $eos-ps-device-custom-breakpoint) {
      font-size: $eos-ps-device-font-size;
      padding: $eos-ps-device-top-padding;
    }
  }

  .margin-top-l {
    margin-top: $eos-ps-device-margin-top-margin;
  }

  .ps-device-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: $eos-ps-device-custom-breakpoint) {
      flex-direction: column;
      margin: 0;

      hr {
        margin: $eos-ps-device-hr-margin;
      }

      h6 {
        font-size: $eos-ps-device-font-size;
        margin: 0;
      }

      li {
        padding: 0;
      }

      p {
        font-size: $eos-ps-device-font-size;
        margin-top: $eos-ps-device-p-margin;
      }
    }

    .do-dont-container {
      margin: $eos-ps-device-do-dont-margin;
      width: 100%;

      @media screen and (max-width: $eos-ps-device-custom-breakpoint) {
        margin: 0;

        .do-column,
        .dont-column {
          margin: $eos-ps-device-do-dont-margin-mobile;
          padding: $eos-ps-device-do-dont-margin-padding;
        }
      }
    }
  }
}
