extends ../layouts/layout-main

block content
  .container.dashboard.js-newsController
    .row
      .col-sm-8
        h1
          | EOS Design System
        p.subheadline
          | A design system made for #{config.brand} products and the Open Source community.
      .col-sm-4
        - if (locals.config.showChangelog) {
          .changelog-box.js-changelog.changelog-box-inactive(onclick='window.location.href = "/changelog"')
            .changelog-box-left
              img.changelog-img(src='/images/components/changelog/rocket.svg')
            .changelog-box-right
              h5
                | We’ve introduced new changes.
              p
                | See the changelog for more information.
        - }
    hr.hidden-xs
    .row.news-component
      .col-xs-8
        h2.title-no-margings
          | News and tutorials
      .col-sm-4.text-right
        .carousel-controller
          .ag-arrow.js-news-tutorials-before
            i.eos-icons.js-tooltip(data-toggle='tooltip', title='Previous')
              | navigate_before
          .ag-arrow.js-news-tutorials-next
            i.eos-icons.js-tooltip(data-toggle='tooltip', title='Next')
              | navigate_next
      .news-loading-wrap.js-news-loading-wrap
        i.eos-icons.eos-icon-loading.md-36
    .news-tutorials-carousel.carousel.js-news-tutorials-carousel.hide
      //- Starting carousel content
      include ../shared/news/video
      include ../shared/news/article

    //- Resources and guides
    .row.resources-guides
      h2
        | Resources and guides
      .col-xs-12.col-sm-6.col-md-4.resource-content.js-resource-content
        a.card.card-vertical.clickable(href='/icons')
          .card-content
            header
              h3
                | Icons
            p
              | From a custom EOS icon library to Material Design Icons.
              | Find the resources and documentation for a
              | meaningful use across all products.
            .figure-wrap
              figure.round
                img(src='/images/dashboard/misc-min.svg')
          footer
            | Icons
      .col-xs-12.col-sm-6.col-md-4.resource-content.js-resource-content
        a.card.card-vertical.clickable(href='/colors')
          .card-content
            header
              h3
                | Color palette
            p
              | A complete set of colors and their shades for every use case
              | following Bootstrap standards and based on  #{config.brand}'s color palette.
            .figure-wrap
              figure.round
                img(src='/images/dashboard/palette-min.svg')
          footer
            | Color palette
      .col-xs-12.col-sm-6.col-md-4.resource-content.js-resource-content
        a.card.card-vertical.clickable(href='/writing')
          .card-content
            header
              h3
                | Writing guidelines
            p
              | The full documentation and guidelines to understand how to write and communicate in a consistent way.
            .figure-wrap
              figure.round
                img(src='/images/dashboard/create-min.svg')
          footer
            | Writing guides
  include ../shared/modals/video-modal.pug
