/* Footer variables
   ========================================================================== */
$eos-footer-content-border-top: 1px solid #f4f4f4;
$eos-footer-content-boxshadow: 0px -2px 3px rgba(226, 226, 226, 0.11);
$eos-footer-side-menu-width: 249px;
$eos-footer-collapsed-height: 40px;

/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-footer-side-menu-color: $eos-bc-blue-700;
$eos-footer-side-menu-text-color: $eos-bc-white;
$eos-footer-content-color: $eos-bc-gray-500;
$eos-footer-link-color: $eos-bc-white;
$eos-footer-link-color-collapsed: $eos-bc-cerulean-900;
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-footer-side-menu-font-size: $eos-s + 4;
$eos-footer-padding: $eos-s $eos-m;
$eos-footer-list-padding: 0 $eos-s;
$eos-footer-list-image: $eos-m + 2;
$eos-footer-margin-collapsed-menu: $eos-xxxl - 4
