/* Header styles
   ========================================================================== */
.main-menu {
  header {
    align-items: center;
    border-bottom: 1px solid $eos-main-menu-hr-color;
    display: flex;
    height: $eos-submenu-height;
    justify-content: space-between;
    margin-bottom: $eos-main-menu-spacing;
    padding-left: $eos-main-menu-spacing-burger;
    padding-right: $eos-main-menu-spacing;

    i {
      color: $eos-header-text-color;
      cursor: pointer;
      margin: 0;
      width: $eos-header-icon-size;
    }

    img {
      height: 20px;
    }

    .design-system {
      color: $eos-header-text-color;
      display: inline-block;
      font-size: $eos-header-font-size;
      vertical-align: middle;
    }
  }
}
