/* Post styles
   ========================================================================== */
/**
*  Use it in HTML as
*  <section class='post'></section>
*
*  This rule wraps a section with a max width of 1116px and applies a box box-shadow
*/
html {
  position: relative;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: $eos-font-size-base;
  height: 100%;
}

body {
  background-color: $eos-body-bg;
  color: $eos-body-color;
  font-family: $eos-font-type-base;
  font-weight: $eos-font-weight-normal-base;
  line-height: $eos-line-height;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: $eos-aside-width;
  min-height: $eos-content-height-padding;
  min-width: $eos-sd-min;

  @media screen and (max-width: $eos-sd-max) {
    margin-left: 0;
    padding-top: $eos-onmobile-content-margin-top;
  }
}

.container {
  margin-bottom: $eos-xxxl;
  max-width: $eos-container-max-width;
  padding: $eos-xl;
  width: 100%;

  hr {
    margin: $eos-container-hr-margin 0;
  }
}
