/* Header
   ========================================================================== */
/**
* Colors
*
* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss
* Titles: /assets/stylesheets/eos-base/variables/titles.scss
*/
$eos-header-font-size: $eos-h5-font-size;
$eos-header-text-color: $eos-bc-white;
$eos-header-icon-size: $eos-m + 2;
