/* Links
   ========================================================================== */
/*
 * Colors variables: /assets/stylesheets/eos-base/variables/branding.scss
*/
$eos-link-default-color: $eos-bc-cerulean-900;
$eos-link-default-color-hover: $eos-bc-blue-400;
$eos-link-dark-color: $eos-bc-dark-gray;
$eos-link-light-color: $eos-bc-white;
