doctype html
html
  head
    title= "Page not found"
    meta(name='description', content= description)
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='og:image', content='https://res.cloudinary.com/eosdesignsystem/image/upload/v1550833469/EOS/Social/eos-design-system.jpg')
    link(rel='stylesheet', href='/spacewalk-font/spacewalk-font.css')
    link(rel='stylesheet', href='/build/css/vendors.min.css')
    link(rel='stylesheet', href='/stylesheets/application.css')
    script(src='/build/js/vendors.min.js')
  body
    .container-404
      img.bunny(src='/images/error/404.svg')

      h1
        |404
      h3
        |There's not much left here
      h5
        | Here's what you can do
      div.contact-404
        a(href='mailto:eos-design-system@googlegroups.com', target='_top')
          img(src='/images/error/mail.svg')
        a(href='https://gitlab.com/SUSE-UIUX/eos', target='_blank')
          img(src='/images/error/gitlab.svg')
        a(href='https://twitter.com/eosdesignsystem', target='_blank')
          img(src='/images/error/twitter.svg')
        a(href='/')
          img(src='/images/error/home.svg')
