/* Mobile menu
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-base/variables/mobile-menu.scss */
.mobile-menu {
  display: none;
  @media screen and (max-width: $eos-sd-max) {
    // mobile menu doesnt exist by default, so when the screen gets smaller it will appear
    background-color: $eos-mm-background;
    display: block;
    height: $eos-mm-height;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $eos-mm-zindex;
  }

  .display-nav {
    display: none;
  }

  nav {
    background-color: $eos-mm-background-navigation;
    min-height: 1200px;
    position: relative;
  }

  h6 {
    color: $eos-mm-title-color;
    margin-top: 0;
    text-transform: uppercase;
  }

  hr {
    border-top: $eos-mm-hr-border;
  }

  h6,
  hr {
    padding: $eos-mm-title-padding;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
      list-style: none;

      &:first-child {
        background-color: $eos-mm-background-navigation;
      }

      a {
        color: $eos-mm-navigation-link;
        cursor: pointer;
        display: block;
        height: 36px;
        padding: $eos-mm-nav-li-a-padding;
      }

      a.active {
        background-color: $eos-mm-navigation-background-link-active;
      }
    }
  }

  header {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: $eos-mm-header-padding;
    position: relative;
  }

  .burger-menu {
    position: absolute;
    right: $eos-mm-burger-menu-right;

    i {
      color: $eos-mm-burger-icon-color;
      cursor: pointer;
    }
  }
}
