/* Mobile menu section / $eos-mm = mobile-menu
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-mm-background: $eos-bc-blue-500;
$eos-mm-burger-icon-color: $eos-bc-white;
$eos-mm-background-navigation: $eos-bc-blue-400;
$eos-mm-navigation-submenu-link: $eos-bc-blue-500;
$eos-mm-navigation-border: $eos-bc-blue-600;
$eos-mm-navigation-link: $eos-bc-white;
$eos-mm-navigation-background-link-active: $eos-bc-green-500;
$eos-mm-dropdown-hover: $eos-bc-blue-500;
$eos-mm-title-color: $eos-bc-white;
$eos-mm-dropdown-hover-active: $eos-bc-green-800;
$eos-mm-hr-border: 1px solid $eos-bc-blue-600;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
/* z-index variables: /assets/stylesheets/eos-base/variables/z-index.scss */
$eos-mm-height: 80px;
$eos-mm-header-padding: $eos-l;
$eos-mm-burger-menu-right: $eos-l;
$eos-mm-nav-li-a-padding: $eos-s $eos-xl;
$eos-mm-title-padding: $eos-s $eos-l;
$eos-mm-mobile-submenu-span-padding: $eos-s $eos-l;
$eos-mm-mobile-submenu-a-padding: $eos-xxl;
$eos-mm-mobile-submenu-a-dashboard-padding: $eos-l;
$eos-mm-zindex: $eos-zindex-modal-background;
