extends ../layouts/layout-mocked-menu-demo
block content
  .container
    section
      h1
        | Mocked scalable menu
      p
        | This is the implementation page for the mocked scalable menu
      p
        a(href='/')
          | Back to Dashboard
