extends ../layouts/layout-main
block content
  .container
    section
      h1
        | Spacewalk icons in SCC
      p
        | The following is the list of items, url in the SCC, names, etc for Spacewalk icons found in the SCC.
      hr
    section
      .js-label-list
        .row.js-icons-headers.hidden
          .col-sm-2
            h4
              | Icon
          .col-sm-2
            h4
              | Resolution
          .col-sm-2
            h4
              | URL in SCC
          .col-sm-3
            h4
              | Screenshot
          .col-sm-3
            h4
              | Purpose/Action
          hr.hr-dotted
        // Autoinstalling
        article
          .row
            .col-sm-2
              i.spacewalk-icon-autoinstalling.md-48
              span.label.label-default
                | spacewalk-icon-autoinstalling
            .col-sm-2
              .label.label-success
                | Replace with
              hr
              .eos-icons.md-48
                | get_app
              h6
                | Material Design ligature:
              | get_app
            .col-sm-2
              p
                a(href='https://scc.suse.com/subscriptions/31', target='_blank')
                  | https://scc.suse.com/subscriptions/31
            .col-sm-3
              figure.round
                img(src='/images/spacewalk-icons-scc/autoinstalling.png', width='100%')
            .col-sm-3
              p
                | It's used to download 
                code .iso
                // this empty pipe adds a trailing white space
                |
                | files an organization is subscribed to.
          hr.hr-dotted
          // Patches
          article
            .row
              .col-sm-2
                i.spacewalk-icon-patches.md-48
                span.label.label-default
                  | spacewalk-icon-patches
              .col-sm-2
                .label.label-danger
                  | Needs redesign
              .col-sm-2
                p
                  a(href='https://scc.suse.com/ptfs', target='_blank')
                    | https://scc.suse.com/ptfs
              .col-sm-3
                figure.round
                  img(src='/images/spacewalk-icons-scc/patches.png')
              .col-sm-3
                p
                  | It's used to describe PTFs (Program Temporary Fixes).
            hr.hr-dotted
            // Software channels
            article
              .row
                .col-sm-2
                  i.spacewalk-icon-software-channels.md-48
                  span.label.label-default
                    | spacewalk-icon-software-channels.
                .col-sm-2
                  .label.label-success
                    | Replace with
                  hr
                  .eos-icons.md-48
                    | tune
                  h6
                    | Material Design ligature:
                  | tune
                .col-sm-2
                  p
                    a(href='https://scc.suse.com/docs/terms-changes', target='_blank')
                      | https://scc.suse.com/docs/terms-changes
                .col-sm-3
                  figure.round
                    img(src='/images/spacewalk-icons-scc/software-channels.png', width='100%')
                .col-sm-3
                  p
                    | It's used in the terms page to explain the mixing of subscription offering.
              hr.hr-dotted
              // Monitoring status
              article
                .row
                  .col-sm-2
                    img(src='/images/spacewalk-icons-scc/monitoring-icon.png')
                    span.label.label-default
                      | spacewalk-icon-monitoring-status
                  .col-sm-2
                    .label.label-danger
                      | Needs redesign
                  .col-sm-2
                    p
                      a(href='https://scc.suse.com/systems', target='_blank')
                        | https://scc.suse.com/systems
                  .col-sm-3
                    figure.round
                      img(src='/images/spacewalk-icons-scc/monitoring.png')
                  .col-sm-3
                    p
                      | It's used to describe systems that have been re-registered.
                hr.hr-dotted
