extends ../layouts/layout-main
block content
  .container
    section
      h1
        | All special icons
      p
        | The following is the list of items, functions, names, etc. that require an special icon to be designed:
      p
        | Separating icons by version of EOS lets us understand those icons that were designed and reported to the teams, 
        | and the ones that are a work in progress and that will need to be added to the next report for the next release.
      .panel.panel-default
        .panel-body
          .row
            .col-sm-6
              h6
                | Filter by product:
              .btn-group
                .btn.btn-info.clickable.js-filter-label
                  | CaaSP
                  .badge.js-count-filter-label
                    | 1
                .btn.btn-warning.clickable.js-filter-label
                  | Hawk
                  .badge.js-count-filter-label
                    | 1
                .btn.btn-success.clickable.js-filter-label
                  | SCC
                  .badge.js-count-filter-label
                    | 1
                .btn.btn-danger.clickable.js-filter-label
                  | SES
                  .badge.js-count-filter-label
                    | 1
                .btn.btn-default.clickable.js-filter-label
                  | Suma
                  .badge.js-count-filter-label
                    | 1
              .btn.clickable.js-filter-label
                | All
                .badge.js-count-filter-label
                  | 1
            .col-sm-3
              h6
                | Filter by EOS version:
              .btn-group
                .btn.btn-info.clickable.js-filter-label
                  | V1
                  .badge.js-count-filter-label
                    | 1
                .btn.btn-warning.clickable.js-filter-label
                  | V2
                  .badge.js-count-filter-label
                    | 1
              .btn.clickable.js-filter-label
                | All
                .badge.js-count-filter-label
                  | 1
            .col-sm-3
              h6
                | Search:
              .input-group
                input.js-icons-search.form-control(type='text', placeholder='Type to search')
                .input-group-addon
                  .eos-icons.md-18.js-icons-search-close.clickable
                    | close
    section
      h2
        | Icons by EOS version
    section
      .js-label-list
        .js-icons-search-empty.hidden
          .alert.alert-section.alert-info
            i.eos-icons.md-18.alert-icon
              | info
            .alert-body
              .alert-title
                | No results found
              | No icon found with the entered search criteria
        .row.js-icons-headers.hidden
          .col-sm-2
            h4
              | Icon
          .col-sm-2
            h4
              | Product/Version
          .col-sm-2
            h4
              | Placement
          .col-sm-2
            h4
              | Hierarchy
          .col-sm-4
            h4
              | Purpose/Action
          hr.hr-dotted
        //CaaSP
        article
          .row
            .col-sm-2
              i.fa.fa-refresh.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-info.js-filter-label
                | CaaSP
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | Main body
            .col-sm-2
              p
                | Informational icon in table of nodes in the Dashboard page.
            .col-sm-4
              p
                | This icon, which is acompanied by a spinning animation, aims to inform the user that the nodes are being 'bootstraped' (preparing/building). When the bootstraping finishes the icon changes for a Success or a Failure icon.
          hr.hr-dotted
        //Hawk
        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | tune
              hr
              h6
                | Material Design ligature:
              | tune
            .col-sm-2
              .label.label-warning.js-filter-label
                | Hawk
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | Sidebar - Main menu
            .col-sm-2
              p
                | In link to "Troubleshooting"
            .col-sm-4
              p
                | The Troubleshooting page allows you to see what happened in the cluster through either command logs or from a tool called hb_reports that generates reports.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.fa.fa-superscript.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-warning.js-filter-label
                | Hawk
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | Dashboard Table
            .col-sm-2
              p
                | In dashboard table. It is non-clickable.
            .col-sm-4
              p
                | Decoration to identify Multi-state resources in a Dashbaord table.
              p
                | Multi-state resources are a specialization of clones. They allow the instances to be in one of two operating modes (called active/passive, primary/secondary, or master/slave).
          hr.hr-dotted
        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | extension
              hr
              h6
                | Material Design ligature:
              | extension
            .col-sm-2
              .label.label-warning.js-filter-label
                | Hawk
              .label.label-info.js-filter-label
                | V1
              .label.label-success
                | SHOULD BE REPLACED BY
              i.eos-icons.md-48
                | settings
            .col-sm-2
              p
                | Resource status page under setting menu
            .col-sm-2
              p
                | In link to "Attribute" in setting dropdown menu
            .col-sm-4
              p
                | It will open a model and show a list of all Meta Attributes for the current resources. You can add or edit Meta Attributes for the current resource.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.fa.fa-code.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-warning.js-filter-label
                | Hawk
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | Configuration page
            .col-sm-2
              p
                | In link to "Resource"
            .col-sm-4
              p
                | Resources can include Web sites, e-mail servers, databases, file systems, virtual machines, and any other server-based applications or services.
              p
                | It allows you to create new Resource
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.fa.fa-eye.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-warning.js-filter-label
                | Hawk
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | Configuration page
            .col-sm-2
              p
                | In link to "Constraint"
            .col-sm-4
              p
                | It will list a set of constraints for Resources.
              p
                strong
                  | e.g.:
                | A 'Location constraint' defines on which node a resource may be run.
                | 'Ordering constraints' define the order in which resources are started and stopped.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.fa.fa-file.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-warning.js-filter-label
                | Hawk
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | Add Resource page
            .col-sm-2
              p
                | In link to "Primitive"
            .col-sm-4
              p
                | Primitive resources are the most basic type of resource.
              p
                | It allows you to create a basic type of resource, define an ID and specify some parameters like class, (provider), and type.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.fa.fa-globe.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-warning.js-filter-label
                | Hawk
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | Wizards page
            .col-sm-2
              p
                | In link to "Network File System"
            .col-sm-4
              p
                | It will list a set of settings for Network File System.
              p
                | It allows you to share files across servers.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.fa.fa-magic.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-warning.js-filter-label
                | Hawk
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | Wizards page
            .col-sm-2
              p
                | In link to "SAP"
            .col-sm-4
              p
                | It will list a set of settings for SAP.
              p
                | It allows you to configure a SAP Central Instance for resources.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.fa.fa-hdd-o.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-warning.js-filter-label
                | Hawk
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | Wizards page
            .col-sm-2
              p
                | In link to "File System"
            .col-sm-4
              p
                | It will list a set of settings to manage files on a server.
              p
                | A file system is used to control how data is stored and retrieved.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.fa.fa-tasks.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-warning.js-filter-label
                | Hawk
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | Add Constraint page
            .col-sm-2
              p
                | In link to "Colocation"
            .col-sm-4
              p
                | It will open a form to create a colocation constraint.
              p
                | A colocational constraint tells the cluster which resources may or may not run together on a node.
          hr.hr-dotted
        //SCC
        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | dns
              hr
              h6
                | Material Design ligature:
              | dns
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | Admin page
            .col-sm-2
              p
                | In link "Repositories" in contextual navigation (top bar)
            .col-sm-4
              p
                | The Repositories page shows a list of all SUSE products repositories with: Name of product, Architectures, URL and some other parameters.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | featured_play_list
              hr
              h6
                | Material Design ligature:
              | featured_play_list
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | Admin page
            .col-sm-2
              p
                | In link "Product Classes" in contextual navigation (top bar)
            .col-sm-4
              p
                | The Product Classes page shows a list of all SUSE products classes.
              p
                | A product class is like a collection of products. So a certain subscription gives you access to one (or more) product classes. So a SLES subscription gives you access to all products which are part of the SLES product class, meaning you don't get only the SLES product, but also all it's free modules, like "web and scripting module".
          hr.hr-dotted
        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | folder_special
              hr
              h6
                | Material Design ligature:
              | folder_special
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | topbar of: Organization, Admin page
            .col-sm-2
              p
                | In link "Subscriptions" in contextual navigation (top bar)
            .col-sm-4
              p
                strong
                  | In the Organization page (user accesible):
                | It is the list of subscriptions bought by the organization.
              p
                strong
                  | In the admin page:
                | It is the list of all existing subscriptions at SUSE, available for purchase or that have been sold in the past.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | business
              hr
              h6
                | Material Design ligature:
              | business
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | topbar of: Organization, Admin page
            .col-sm-2
              p
                | In link "Organizations" in contextual navigation (top bar)
            .col-sm-4
              p
                strong
                  | In the customer facing page of Organization:
                | The page shows the content of the organization, Name, Id of organization in the title, but the main content is actually the list of users part of the organization, the hability to admins to invite new users, and the Organization Credentials.
              p
                strong
                  | In the admin page or Organizations:
                | It simply lists all of the existing Organizations in the DB of SCC, with Name (and link to more details like Created at, NCC ID, hierarchy, list of subscriptions, etc.), Site ID, Number of users, Number of Subscriptions, Number of systems, and the option to edit the organization, which lets the admin change the name and address only.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | timeline
              hr
              h6
                | Material Design ligature:
              | timeline
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-label
                | V1
              .label.label-success
                | LOOKS GOOD
            .col-sm-2
              p
                | Dashboard of Admin page
            .col-sm-2
              p
                | In the title "Server monitoring"
            .col-sm-4
              p
                | The title in the dashboard has 2 links under it to external tools: Newrelic statistics, Overview of Cluster Health
          hr.hr-dotted
        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | tag_faces
              hr
              h6
                | Material Design ligature:
              | tag_faces
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-label
                | V1
              .label.label-success
                | LOOKS GOOD
            .col-sm-2
              p
                | Main menu under Internal Tools
            .col-sm-2
              p
                | In link to "Customer Management"
            .col-sm-4
              p
                | The Customer Management tool is an internal tool mainly used by: Support specialist, Sales engineers, and SCC admins. It provides all the data visualization of the entire SCC, as well as it let's these group of users modify certain information of customer's organizations and accounts.
              p
                | The data displayed in the CM is very sensitive therefor only a limited number of employees have access to it.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | style
              hr
              h6
                | Material Design ligature:
              | style
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | Main menu under Internal Tools
            .col-sm-2
              p
                | In link to "Products (beta)"
            .col-sm-4
              p
                | The Products (beta) page shows the status of all products releases within SUSE. When selecting a product, one can see the description of the product, which parent product it is available for, eg: SLES, the upcoming releases with date and state: beta, alpha, etc. and some more information.
              p
                | This page is mainly relevant to Product Management, Proyect Management, and Release Managers.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | assignment
              hr
              h6
                | Material Design ligature:
              | assignment
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | Main menu under My Tools
            .col-sm-2
              p
                | In link to "Packages (beta)"
            .col-sm-4
              p
                | It allows you to search for a package name and it will show you all the SUSE products where this package is in any of its repositories.
              p
                | The the most common use-case is: I want to install a package, but I'm not sure which module/extension I need to have in order to get this RPM.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | verified_user
              hr
              h6
                | Material Design ligature:
              | verified_user
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-label
                | V1
              .label.label-success
                | SHOULD BE REPLACED BY
              i.eos-icons.md-48
                | check_circle
            .col-sm-2
              p
                | Dashboard
            .col-sm-2
              p
                | Item in list of recent Activities
            .col-sm-4
              p
                | The icon is present next to the text "1 subscriptions added"
          hr.hr-dotted
        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | verified_user
              hr
              h6
                | Material Design ligature:
              | verified_user
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-label
                | V1
              .label.label-success
                | SHOULD BE REPLACED BY
              i.eos-icons.md-48
                | check_circle
            .col-sm-2
              p
                | Dashboard
            .col-sm-2
              p
                | Item in list of recent Activities
            .col-sm-4
              p
                | The icon is present next to the text "XX products activated on your systems"
          hr.hr-dotted
        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | verified_user
              hr
              h6
                | Material Design ligature:
              | verified_user
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | Main menu under My Tools
            .col-sm-2
              p
                | In link to "Activate subscriptions"
            .col-sm-4
              p
                strong
                  | Take the user to the activate subscriptions page:
                | this page enables the user to activate singular registration codes or multiple reg codes uploading a CSV file.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | supervisor_account
              hr
              h6
                | Material Design ligature:
              | supervisor_account
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | In the Customer Management page as well as in the user Organization page.
            .col-sm-2
              p
                | In table rows. It is non-clickable. With tooltip "Admin"
            .col-sm-4
              p
                | Decoration to identify admins from users. It always goes in green to be easily identified againt the gray icon of the regular user.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | compare_arrows
              hr
              h6
                | Material Design ligature:
              | compare_arrows
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-label
                | V1
              .label.label-success
                | LOOKS GOOD
            .col-sm-2
              p
                | In Customer Management.
            .col-sm-2
              p
                | Clickable icon in table of Sibling organizations (with tooltip: 'Compare this sibling against the current organization') and in explanation of usage (alert-info).
            .col-sm-4
              p
                | The icon in displayed in a table of siblings organizations of an organization. When clicking on it the "comparison mode" will be on and the screen will split in half for the Support/Sales engineer to be able to compare the 2 organizations details, subscriptions, users, etc.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              img.eos-icons.md-48(src='/images/special-icons/scc/facebook.svg')
              h6
                | File name:
              | Facebook.svg
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-label
                | V1
              .label.label-success
                | LOOKS GOOD
            .col-sm-2
              p
                | Footer in login page only
            .col-sm-2
              p
                | In area of all external links to social media.
            .col-sm-4
              p
                | External link to facebook fan page.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              img.eos-icons.md-48(src='/images/special-icons/scc/twitter.svg')
              h6
                | File name:
              | twitter.svg
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-label
                | V1
              .label.label-success
                | LOOKS GOOD
            .col-sm-2
              p
                | Footer in login page only
            .col-sm-2
              p
                | In area of all external links to social media.
            .col-sm-4
              p
                | External link to Twitter fan page.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              img.eos-icons.md-48(src='/images/special-icons/scc/google-plus.svg')
              h6
                | File name:
              | google-plus.svg
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-label
                | V1
              .label.label-success
                | LOOKS GOOD
            .col-sm-2
              p
                | Footer in login page only
            .col-sm-2
              p
                | In area of all external links to social media.
            .col-sm-4
              p
                | External link to Google Plus fan page.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              img.eos-icons.md-48(src='/images/special-icons/scc/linkedin.svg')
              h6
                | File name:
              | linkedin.svg
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-label
                | V1
              .label.label-success
                | LOOKS GOOD
            .col-sm-2
              p
                | Footer in login page only
            .col-sm-2
              p
                | In area of all external links to social media.
            .col-sm-4
              p
                | External link to Linked In page.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.spacewalk-icon-bare-metal.md-48
              h6
                | Spacewalk class:
              | spacewalk-icon-bare-metal
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | Panel.
            .col-sm-2
              p
                | Decoration only.
            .col-sm-4
              p
                | It represents SMT servers in a panel together with the SMT server information.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.spacewalk-icon-patches.md-48
              h6
                | Spacewalk class:
              | spacewalk-icon-patches
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-label
                | V1
              .label.label-success
                | LOOKS GOOD
            .col-sm-2
              p
                | Organization contextual menu.
            .col-sm-2
              p
                | link to see PTFs patches
            .col-sm-4
              p
                | The PTFs page shows special patches created for customer with BCL subscriptions. These patches are specially designed for customers before the public patches come to life, so they are very special and expensive patches in a way. We are already using the patches icon
                i.eos-icons.md-18
                  | healing
                | in the "patches" link in the main menu, meaning we could not use the same for PTF.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | verified_user
              hr
              h6
                | Material Design ligature:
              | verified_user
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-warning.js-filter-label
                | V2
            .col-sm-2
              p
                | Activity log
            .col-sm-2
              p
                | In dashboard and activity log page
            .col-sm-4
              p
                | When a subscription is successfully activated, it will show up in the organization log
                | so the users can track all the activities performed by him/her or other members.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | playlist_add_check
              hr
              h6
                | Material Design ligature:
              | playlist_add_check
            .col-sm-2
              .label.label-success.js-filter-label
                | SCC
              .label.label-warning.js-filter-label
                | V2
            .col-sm-2
              p
                | Activity log

            .col-sm-2
              p
                | In dashboard
            .col-sm-4
              p
                | It's a background job that runs periodically, deleting subscriptions of type "evaluation" that
                | are expired AND have no systems.
          hr.hr-dotted
        //SES
        article
          .row
            .col-sm-2
              i.fa.fa-hourglass.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-danger.js-filter-label
                | SES
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | Header
            .col-sm-2
              p
                | Button next to the text "Background-Tasks" present in header.
            .col-sm-4
              p
                | When clicking this icon the application will display all the tasks that are runing in background
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.fa.fa-play.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-danger.js-filter-label
                | SES
              .label.label-info.js-filter-label
                | V1
              .label.label-success
                | SHOULD BE REPLACED BY
              i.eos-icons.md-48
                | fiber_manual_record
              | or
              i.eos-icons.md-48
                | ondemand_video
            .col-sm-2
              p
                | Header
            .col-sm-2
              p
                | Button next to the text "API-Recorder" present in header.
            .col-sm-4
              p
                | When clicking this icon the application will start recording for an API request and the icon will change to a square-
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.fa.fa-user-secret.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-danger.js-filter-label
                | SES
              .label.label-info.js-filter-label
                | V1
              .label.label-success
                | SHOULD BE REPLACED BY
              i.eos-icons.md-48
                | vpn_key
            .col-sm-2
              p
                | Form in a page openattic/#/users/edit
            .col-sm-2
              p
                | Inside a form's field that contains the API authentication token
            .col-sm-4
              p
                | Graphically assign a visual reference for the form field
          hr.hr-dotted
        //Suma
        article
          .row
            .col-sm-2
              i.fa.fa-eye.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-info.js-filter-label
                | Suma
              .label.label-info.js-filter-label
                | V1
              .label.label-success
                | LOOKS GOOD
            .col-sm-2
              p
                | Header
            .col-sm-2
              p
                | Button to display the icons legend.
            .col-sm-4
              p
                | When clicking this icon, a drop-down will appear with the legend of the icons in the page explaning their meaning.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.fa.fa-eraser.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-info.js-filter-label
                | Suma
              .label.label-info.js-filter-label
                | V1
              .label.label-success
                | LOOKS GOOD
            .col-sm-2
              p
                | Header
            .col-sm-2
              p
                | Button part of the "System Set Manager" component.
              p
                | Also used in forms.
            .col-sm-4
              p
                | When clicking this icon system you selected will be deselected. The related feature is named System Set Manager, it's a dynamic set of systems selected by the user to apply some actions to all of them in one shot.
              p
                | This icon is also used in some form button and the purpose is to clear/reset all form fields (see /rhn/manager/systems/bootstrap).
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.fa.fa-desktop.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-info.js-filter-label
                | Suma
              .label.label-info.js-filter-label
                | V1
              .label.label-success
                | LOOKS GOOD
            .col-sm-2
              p
                | Page title and Tables
            .col-sm-2
              p
                | The icon indicates a single system in a table.
              p
                | In the page title it indicates all the sections in the application that are related to systems managing.
            .col-sm-4
              p
                | When clicking this icon user will be redirect to the system's detail and operation page.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.fa.fa-rocket.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-info.js-filter-label
                | Suma
              .label.label-info.js-filter-label
                | V1
              .label.label-success
                | SHOULD BE REPLACED BY
              i.spacewalk-icon-autoinstallations.md-48
              | or
              i.spacewalk-icon-autoinstalling.md-48
            .col-sm-2
              p
                | Page title
            .col-sm-2
              p
                | Next to the page title to give a graphical sign to the page.
            .col-sm-4
              p
                | This icon is used in /rhn/kickstart/KickstartOverview.do page. The page belongs to the Autoinstallation feature.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.fa.fa-rocket.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-info.js-filter-label
                | Suma
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | Page title
            .col-sm-2
              p
                | Next to the page title to give a graphical sign to the page.
            .col-sm-4
              p
                | This icon is used in /rhn/manager/systems/bootstrap, which is the Bootstraping page.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.fa.fa-suitcase.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-info.js-filter-label
                | Suma
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | Internal page
            .col-sm-2
              p
                | Represent the section "misc" in the System Set Manager Overview page.
            .col-sm-4
              p
                | Not clickable icon, it gives just a visual reference to the page System Set Manager Overview. It is a miscellaneous of actions non related to a specific relevant feature of SUSE Manager.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.fa.fa-list.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-info.js-filter-label
                | Suma
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | Page title
            .col-sm-2
              p
                | Displayed on the page title of the pages : Images, Image Profile and Image Stores.
            .col-sm-4
              p
                | Images is a section of the menu that contains more pages: "images" the main list of images, "Profile" where a user creates an image, and "Storage" where the urls of the storage for images are listed.
              p
                | Images are, in most cases, Docker containers, but in the future it will include also virtual machines.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.fa.fa-chain.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-info.js-filter-label
                | Suma
              .label.label-info.js-filter-label
                | V1
              .label.label-success
                | LOOKS GOOD
            .col-sm-2
              p
                | page title and element name on a list.
            .col-sm-2
              p
                | Visually indicate external link.
            .col-sm-4
              p
                | When clicking on "de-register" in the systems page, a modal will popup with a button saying "call asistant" together with this icon. After clicking this button, the assistant will show up on screen and show the instructions of how to de-register a machine.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.fa.fa-chain.md-48
              span.label.label-default.js-fa-class
            .col-sm-2
              .label.label-info.js-filter-label
                | Suma
              .label.label-info.js-filter-label
                | V1
            .col-sm-2
              p
                | page title and element name on a list.
            .col-sm-2
              p
                | In page Action Chains.
            .col-sm-4
              p
                | It's also used in /rhn/schedule/ActionChains.do pages and it is the main icon for that feature, because it's clearly about chains of actions.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              i.spacewalk-icon-manage-configuration-files.md-48
              h6
                | Spacewalk class:
              | spacewalk-icon-manage-configuration-files
            .col-sm-2
              .label.label-info.js-filter-label
                | Suma
              .label.label-info.js-filter-label
                | V1
              .label.label-success
                | LOOKS GOOD
              .label.label-success
                | SAME AS IMAGES
            .col-sm-2
              p
                | Sidebar
            .col-sm-2
              p
                | Indicates the configuration file.
            .col-sm-4
              p
                | Placed in the sidebar next to the text "Image" and on the page title of the "configuration file" page. In both cases the icon is not clickable.
          hr.hr-dotted
          article
            .row
              .col-sm-2
                i.spacewalk-icon-software-channels.md-48
                h6
                  | Spacewalk class:
                | spacewalk-icon-software-channels
              .col-sm-2
                .label.label-info.js-filter-label
                  | Suma
                .label.label-info.js-filter-label
                  | V1
              .col-sm-2
                p
                  | Page title and sidebar
              .col-sm-2
                p
                  | Next to text "Software" in the sidebar and next to the related page title indicates the kind of session.
              .col-sm-4
                p
                  | Non clickable icon, only a visual reinforce to the text.
