/* How to
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/how-to/how-to.variables.scss */
.usage-example {
  display: flex;
  flex-direction: column;
  margin-top: $eos-how-to-usage-example-margin-top;
  max-width: $eos-how-to-max-width;

  p {
    margin: $eos-how-to-p-size 0;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      margin-top: $eos-how-to-title-p-margin-top;
    }
  }

  .wrap {
    display: flex;
    justify-content: flex-start;

    a {
      cursor: pointer;
    }

    .wrap-content {
      margin: 0;
      padding: $eos-how-to-wrap-p-padding;
    }

    /* Text and background colors */
    &.dark-gray-white {
      background-color: $eos-example-1-background;
      color: $eos-example-1-color;
    }

    &.white-gray {
      border: 1px solid $eos-example-2-border;
      color: $eos-example-2-color;
    }

    /* Text color over backgrounds */
    &.white-violet {
      background-color: $eos-example-3-background;
      color: $eos-example-3-color;
    }

    &.black-cerulean {
      background-color: $eos-example-4-background;
      color: $eos-example-4-color;
    }

    /* Links color */
    &.cerulean-white {
      border: 1px solid $eos-example-5-border;
      color: $eos-example-5-color;
    }

    &.orange-gray {
      background-color: $eos-example-6-background;
      color: $eos-example-6-color;
    }

    &.green-blue {
      background-color: $eos-example-7-background;
      color: $eos-example-7-color;
    }

    &.yellow {
      background-color: $eos-bc-yellow-900;
      color: $eos-bc-dark-gray;
    }
  }
}
