/* Implementation examples variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-ie-result-default-border: $eos-bc-gray-80;
$eos-ie-result-dark-color: $eos-bc-gray-900;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-ie-border-radius-size: $eos-base-border-radius-size;
$eos-ie-result-padding: $eos-l 0;
$eos-ie-result-dark-bg-padding: $eos-l;
$eos-ie-vertical-margin: $eos-l 0;
$eos-ie-btn-margin-right: $eos-s;
$eos-ie-full-width-btn-margin-bottom: $eos-s;
$eos-ie-no-tab-padding: 0 $eos-l;
