/* Implementation example
   ========================================================================== */
/**
* Implementation example with code and UI result
*
* Variables file: assets/stylesheets/eos-custom-components/implementation-example/implementation-example.variables.scss
*/
.implementation-example-no-tab,
.implementation-example {
  margin: $eos-ie-vertical-margin;

  .result {
    border-bottom: 0;
    border-radius: $eos-ie-border-radius-size $eos-ie-border-radius-size 0 0;
    padding: $eos-ie-result-padding;

    .btn {
      margin-right: $eos-ie-btn-margin-right;
    }

    &.dark-bg {
      background: $eos-ie-result-dark-color;
      border: 1px solid $eos-ie-result-dark-color;
      border-radius: 0;
      padding: $eos-ie-result-dark-bg-padding;
    }
  }

  .implementation-example-footer {
    border-radius: 0 0 $eos-ie-border-radius-size $eos-ie-border-radius-size;
    border-top: 0;
    display: flow-root;
    padding: $eos-ie-result-padding;
  }
}

.implementation-example-no-tab {
  border: 1px solid $eos-ie-result-default-border;
  padding: $eos-ie-no-tab-padding;
}

pre.prettyprint {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.tab-content {
  .result {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
