/* Scalable menu component
========================================================================== */
/**
* References
*
* Variables file: assets/stylesheets/eos-custom-components/mocked-menu/mocked-menu.variables.scss
* Meaningful colors: /assets/stylesheets/eos-base/variables/colors.scss
* Links variables: /assets/stylesheets/eos-base/variables/links.scss
*/

// top level title
.mocked-menu-title {
  font-size: $eos-mm-title;

  .mocked-menu-expand {
    // reset margin to align caret to right
    margin-right: 0;
  }

  &[aria-expanded='true'] {
    background: $eos-mm-collapsed-sub-wrap;
    margin-right: 0;

    .mocked-menu-expand {
      margin-right: $eos-m;
      transform: rotate(180deg);
    }
  }
}

.mocked-menu-collapsed-title {
  display: none;
}

/* Togglable sub menu */
.mocked-menu-togglable {

  .mocked-menu-sub {
    background: $eos-mm-collapsed-sub-wrap;

    li a {
      padding-left: $eos-mm-sub-padding;

      &:hover {
        background: $eos-mm-sub-li-hover;
        border-radius: $eos-mm-sub-li-border-radius;
        color: $eos-mm-sub-li-color;
      }
    }
  }
}

/* Collapsed sidebar states */
.mocked-menu.collapsed-sidebar {
  .mocked-menu-title-content,
  .mocked-menu-expand {
    display: none;
  }

  .mocked-menu-collapsed-title {
    background-color: $eos-mm-item-hover;
    color: $eos-mm-collapsed-sub-item-bg;
    display: block;
    font-size: $eos-mm-title;
    font-weight: bold;
  }

  .mocked-menu-togglable {
    position: absolute;
    width: 100%;

    .mocked-menu-item {
      position: relative;

      &:hover {
        background-color: $eos-mm-item-hover;
        cursor: pointer;
      }
    }
  }

  .mocked-menu-sub {
    background: $eos-mm-collapsed-sub-item-bg;
    box-shadow: 1px 1px 5px rgba($eos-mm-collapsed-sub-shadow, .21);
    left: $eos-mm-collapsed-sub-position;
    position: absolute;
    top: 0;
    width: $eos-mm-collapsed-sub-width;

    li {
      padding: $eos-s $eos-m;

      a {
        color: $eos-mm-collapsed-sub-item;
        padding: 0;

        &:hover {
          background: $eos-mm-collapsed-sub-item-bg;
          color: $eos-mm-item-hover;
        }
      }
    }
  }

  .mocked-menu-title {
    &[aria-expanded='true'] {
      background-color: $eos-mm-item-hover;
    }
  }
}

.mocked-nav-wrap {
  max-height: $eos-mm-navbar-min-height;
  overflow-y: auto;
}

/* add class to hidden submenu elements when sidebar is collapsed */
.js-mocked-sub-toggle {
  display: block;
  height: auto;
}
