/* Scalable menu variables
   ========================================================================== */
/**
* References
*
* Meaningful colors: /assets/stylesheets/eos-base/variables/colors.scss
* Links variables: /assets/stylesheets/eos-base/variables/links.scss
* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss
*/
/* $eos-mm- prefix for 'mocked-menu' */
$eos-mm-title: 16px;

/* spacing */
$eos-mm-sub-padding: $eos-xxl;

/* colors */
$eos-mm-sub-li-hover: $eos-color-main;
$eos-mm-sub-li-hover: $eos-color-main;
$eos-mm-sub-li-color: $eos-selected-color;
$eos-mm-item-hover: $eos-bc-green-500;
$eos-mm-collapsed-sub-shadow: $eos-bc-dark-gray;
$eos-mm-collapsed-sub-item: $eos-bc-gray-900;
$eos-mm-collapsed-sub-item-bg: $eos-bc-white;
$eos-mm-collapsed-sub-wrap: $eos-bc-blue-700;

/* Layout */
$eos-mm-collapsed-sub-width: 165px;
$eos-mm-collapsed-sub-position: $eos-mm-collapsed-width;
$eos-mm-sub-li-border-radius: $eos-selected-border-radius;
$eos-mm-navbar-min-height: 85vh;
