/* Icons set
   ========================================================================== */
/* Variables: /assets/stylesheets/eos-pages/icons-set/icons-set.variables.scss */
.icons-search-wrap {
  align-items: center;
  display: flex;
  flex-direction: row;
  float: right;
  height: $eos-icon-set-height;

  input {
    border: 0;
    border-bottom: $eos-icon-set-border;
    outline: 0;
    width: 200px;
  }
}

.eos-icons-notification {
  display: flex;
  justify-content: center;
}

.icons-set-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: $eos-icon-set-list-margin-top;

  @media screen and (max-width: $eos-sd-max) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .icon-display {
      width: $eos-icon-set-icon-display-width;
    }
  }
}

@media screen and (max-width: $eos-sd-max) {
  .icon-set-utility {
    text-align: center;

    p {
      text-align: left;
    }

    .col-xs-12 {
      margin: 0;
    }

    .icons-search-wrap {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    input {
      width: $eos-icon-set-icon-set-utility-input-size;
    }
  }
}

.icons-btn-group {
  display: flex;
  flex-direction: row;
  max-height: $eos-icons-btn-group-max-height;

  a {
    align-items: center;
    display: flex;
    transition: all 0.5s ease;

    &:last-child {
      margin-left: $eos-icons-btn-group-a-margin;
    }

    img {
      margin: 0;
      width: $eos-icons-btn-group-a-image-width;
    }

    span {
      display: none;
      margin-left: $eos-icons-btn-group-a-span-margin;
    }

    &:hover {
      span {
        display: block;
      }
    }
  }
}

.icon-display {
  .eos-icons {
    margin-right: 0;
  }

  /**
  * Overwrites for current animated font icons
  *
  * TODO: move these styles to icon-font
  */
  .eos-icon-loading,
  .eos-icon-installing {
    margin-left: 0;
    text-indent: -9000px;
    white-space: nowrap;
  }

  .eos-icon-loading {
    overflow: hidden;
  }
}
