extends ../layouts/layout-main

block content
  .container.js-logo-icons-set.js-logoIconsController
    section
      h1
        | Logo icon set
      p.subheadline
        | Our set of third-party logos follows the EOS design guidelines and integrates coherently in SUSE applications.
    hr

    section
      .row.logo-icon-set-utility
        .col-md-7.col-xs-12
          p
            | Are you looking for a logo?
          button.btn.btn-primary(data-toggle='modal', data-target='#requestNewIcon')
            i.eos-icons.md-18
              | add_circle
            |  Request new icon
        .col-md-5.col-xs-12.hide
          .icons-search-wrap
            input.js-eos-icon-filter(type='search', name='eos-icon-filter', placeholder='Type to search')
            i.eos-icons.md-18
              | search
      .row.eos-icons-notification.js-eos-icons-notification

      hr

      .js-logo-icons-list.icons-set-list
        .icon-display.js-logo-icon-display.js-panel-slidein-open
          img.md-48.js-logo-img
          strong.js-logo-name

      // Panel-slidein component to show more information after clicking .js-panel-slidein-open
      .panel-slidein.js-panel-slidein.panel-slidein-right
        .panel-slidein-body
          include ../includes/panel-slidein/logo-icons.pug
        .panel-slidein-close.eos-icons.md-18.pull-right.js-panel-slidein-close
          | close
  include ../includes/request-new-icon/request-new-icon-modal.pug
