extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Typography
          p.subheadline
            | Typography is an important part of design. 
            | It is used to organise and create clear and efficient hierarchy.
        .col-md-3
          .design-spec-file.pull-right
            a(href='https://xd.adobe.com/spec/4a4e5cda-7239-4c88-6d46-05abbbc5755b-3c7f/screen/425254c8-851e-4eae-9977-42c93160d1f9/typography-specs/', target='_blank')
              i.eos-icons.md-18
                | launch
              | Design spec file
    hr
    article.typography
      h3.title-strong
        | Typeface
      p
        | Use 
        |
        a(href='https://fonts.google.com/specimen/Lato', target='_blank')
          | Lato
        |
        | as standard typeface.

        h5.margin-top-xl
          | Possible variations
        ul.no-list-style.no-top-padding-list-style
          li
            p
              | Lato Regular 400 
            p
              | One design system, endless possibilities
          li
            p
              em
                | Lato Italic 400 
            p
              em
                | One design system, endless possibilities
          li
            p
              strong
                | Lato Bold 700
            p
              strong
                | One design system, endless possibilities
        p
          | Standard
        .css-snippet-container
          .scss-snippet-btns.pull-right
            i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
              | content_copy
          pre.prettyprint.js-snippet-code
            code
              | &lt;link href=“https://fonts.googleapis.com/css?family=Lato:400,400i,700” rel=“stylesheet”&gt;
        p
          | Import
        .css-snippet-container
          .scss-snippet-btns.pull-right
            i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
              | content_copy
          pre.prettyprint.js-snippet-code
            code
              | @import url(&#39;https://fonts.googleapis.com/css?family=Lato:400,400i,700&#39;);
        p
          | In CSS
        .css-snippet-container
          .scss-snippet-btns.pull-right
            i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
              | content_copy
          pre.prettyprint.js-snippet-code
            code
              | font-family: &#39;Lato&#39;, sans-serif;

    article.margin-top-xxl.typography
      h3.title-strong
        | Type scale
      p
        | The HTML 
        code
          | &lt;small&gt;
        |
        | tag defines smaller text. It is intended to be used to identify items of secondary importance. It is 0.8 em the size of the parent and it applies only to the title sizes H1 to H5.
      p
        | Heading and body font-sizes are based as follows:

      .type-scale-container
        ul.no-list-style
          li
            .col-md-2.col-xs-12
              code.highlighter-rouge
                | &lt;h1&gt;
            .col-md-2.col-xs-12
              p
                | 2em
            .col-md-2.col-xs-12
              p
                | Lato Regular 400
            .col-md-6.col-xs-12
              h1
                | EOS h1 headline
                small
                  |
                  | this is a small text
          li
            .col-md-2.col-xs-12
              code.highlighter-rouge
                | &lt;h2&gt; 
            .col-md-2.col-xs-12
              p
                | 1.75em
            .col-md-2.col-xs-12
              p
                | Lato Regular 400
            .col-md-6.col-xs-12
              h2
                | EOS h2 headline
                small
                  |
                  | this is a small text
          li
            .col-md-2.col-xs-12
              code.highlighter-rouge
                | &lt;h3&gt;
            .col-md-2.col-xs-12
              p
                | 1.5em
            .col-md-2.col-xs-12
              p
                | Lato Bold 700
            .col-md-6.col-xs-12
              h3
                | EOS h3 headline
                small
                  |
                  | this is a small text
          li
            .col-md-2.col-xs-12
              code.highlighter-rouge
                | &lt;h4&gt;
            .col-md-2.col-xs-12
              p
                | 1.3em
            .col-md-2.col-xs-12
              p
                | Lato Bold 700
            .col-md-6.col-xs-12
              h4
                | EOS h4 headline
                small
                  |
                  | this is a small text
          li
            .col-md-2.col-xs-12
              code.highlighter-rouge
                | &lt;h5&gt;
            .col-md-2.col-xs-12
              p
                | 1.15em
            .col-md-2.col-xs-12
              p
                | Lato Bold 700
            .col-md-6.col-xs-12
              h5
                | EOS h5 headline
                small
                  |
                  | this is a small text
          li
            .col-md-2.col-xs-12
              code.highlighter-rouge
                | &lt;h6&gt;
            .col-md-2.col-xs-12
              p
                | 1em
            .col-md-2.col-xs-12
              p
                | Lato Bold 700
            .col-md-6.col-xs-12
              h6
                | EOS h6 headline
          li
            .col-md-2.col-xs-12
              code.highlighter-rouge
                | &lt;body&gt;
            .col-md-2.col-xs-12
              p
                | 14px
            .col-md-2.col-xs-12
              p
                | Lato Regular 400
            .col-md-6.col-xs-12
              p
                | EOS design system

      .css-snippet-container
        .scss-snippet-btns.pull-right
          i.eos-icons.md-18.md-light.js-copy-snippet
            | content_copy
        pre.prettyprint.js-snippet-code
          code
            | h1,
            | h2 {
            |  font-weight: 400;
            | }
            |
            | h3,
            | h4,
            | h5,
            | h6 {
            |  font-weight: 700
            | }
            |
            | body {
            |   font-size: 14px;
            | }
            |

    article.margin-top-xxl
      h3.title-strong
        | Line-height
      p
        | The line-height is the vertical distance between lines of text. 
        | The line-height is calculated as 1:1,5 of text size, line-height: 1.5em.

      p
        | EOS 
        | 
        a(href='/writing', target='_blank')
          | writing guides
        |
        | and 
        | 
        a(href='writing/conventions-and-rules', target='_blank')
          | conventions and rules
        |
        | should be followed when writing titles in order to maintain consistency and clarity.

    article.margin-top-xxl
      h3.title-strong
        | Text colors
      .usage-example
        .title
          h5
            | #686565
          p
            code
              | $eos-bc-gray-900
        .wrap.white-gray
          p.wrap-content
            | Default text color on white
      p
        | More information related to text and colors can be found in 
        | 
        a(href='/colors/how-to')
          | color guide
        |
        | of the design system.
