extends ../layouts/layout-main

block content
  .container
    section
      h1
        | How to use
      p.subheadline
        | Choosing the right button is fundamental to deliver a consistent user experience across an entire product portfolio.
    hr
    article
      section.margin-top-xxl
        h3
          | Choosing the right button class
      .alert.alert-section.alert-warning.margin-top-m
        i.eos-icons.md-18.alert-icon
          | info
        .alert-body
          .alert-title
            | Bootstrap button classes you should and shouldn't use
          | Depending on the scenario, use any of the following Bootstrap button classes:
          |
          code
            | btn-default
          | ,
          |
          code
            | btn-primary
          | ,
          |
          code
            | btn-danger
          | .
          |
          | The use of other Bootstrap button classes such as
          |
          code
            | btn-link
          | ,
          |
          code
            | btn-warning
          | ,
          |
          code
            | btn-info
          |
          | and
          |
          code
            | btn-success
          |
          | isn't allowed.
      ul.list-no-padding
        li
          | Use the class 
          code
            | btn-default
          |
          | for actions with the same hierarchy, such as “copy”, “paste”, “crop”, etc.,
        li
          | Use the class 
          code
            | btn-primary
          |
          | to represent a
          strong 
            | call-to-action
          | , for example "save", "send", etc., in order to draw the user's attraction to this action.
        li
          | Destructive actions such as "delete", "erase", "unsubscribe", etc.,
          | should use the class
          code
            | btn-default
          |
          | , however, they require a confirmation message with the ultimate 
          | destructive action. This last step requires full attention from the user,
          | therefore you must use the class
          code
            | btn-danger

      .do-dont-container
        .do-column.half-width
          p
            | Deleting this system cannot be reversed and all information will be lost
          .example-wrap-cta
            .btn.btn-default
              | Cancel
            .btn.btn-danger.margin-left-s
              | Delete
      article.margin-top-xxl
        h3
          | Buttons are not links
        p
          | The use of the Bootstrap class 
          code
            | btn-link
          |
          | is not permitted since it blends two different concepts: buttons and links.
        h4
          | Links
        p
          | Links should only be used to take the user to a different page or section, 
          | within or outside of the application. There should be no system action performed by clicking a link.
        h4
          | Buttons
        p
          | A button is used to perform any action on a given page, module, or component. 
          | An action such as next in a wizard should also use a
          code
            | btn-default
          |
          | because it only moves the user to the next step of a system process in a larger  component.
