extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Icon buttons
      p.subheadline
        | There are a lot of benefits of using icon buttons. Icons accompanied by labels make 
        | information easier to find and scan. Only icon buttons can be compact enough to allow 
        | toolbars, tables, and so on to display many icon buttons in a relatively small space. 

    hr
    article
      section.margin-top-xxl
        h3
          | Buttons with icon
        p
          | Using icons in buttons can help to enhance the UX. Add an icon inside any style button 
          | with a label. Place the icons before label in order for users to see them first.
        p
          | Add EOS-icons or material design icon inside any style of button to create a button 
          | with an icon.
        .implementation-example-no-tab
          .result
            button.btn.btn-default
              i.eos-icons.md-18
                | autorenew
              |   Button
            button.btn.btn-primary
              i.eos-icons.md-18
                | autorenew
              |   Button
            button.btn.btn-outline-primary
              i.eos-icons.md-18
                | autorenew
              |  Button
            button.btn.btn-danger
              i.eos-icons.md-18
                | autorenew
              |  Button
          .css-snippet-container
            .scss-snippet-btns.pull-right
              i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                | content_copy
            pre.prettyprint.js-snippet-code
              code
                | &lt;!-- Code snippet for Bootstrap 4 --&gt;
                | &lt;button class='btn btn-default'&gt;
                |   &lt;i class='eos-icons md-18'&gt;autorenew&lt;/i&gt; Button
                | &lt;/button&gt;
                | &lt;button class='btn btn-primary'&gt;
                |   &lt;i class='eos-icons md-18'&gt;autorenew&lt;/i&gt; Button
                | &lt;/button&gt;
                | &lt;button class='btn btn-primary'&gt;
                |   &lt;i class='eos-icons md-18'&gt;autorenew&lt;/i&gt; Button
                | &lt;/button&gt;
                | &lt;button class='btn btn-danger'&gt;
                |   &lt;i class='eos-icons md-18'&gt;autorenew&lt;/i&gt; Button
                | &lt;/button&gt;
          .implementation-example-footer
            a.pull-right(href='https://xd.adobe.com/spec/ab5c98c9-d60b-4a9c-7a55-2f90656f1da1-dd6d/screen/b32ba94b-4b9a-450c-9104-a4b1e63b2ce9/Web-1920-2/', target='_blank')
              i.eos-icons.md-18
                | launch
              | Buttons design specifications

      section.margin-top-xxl
        h3.title-strong
          | Only icon buttons
        p
          | If an icon button has no label be sure to use a tooltip to offer some short  
          | explanation of the buttons purpose.
        p
          | You can create an icon-only button, by adding an EOS or Material
          | design icon inside any style of button without a text label.
        .implementation-example-no-tab
          .result
            button.btn.btn-default.js-tooltip(data-toggle='tooltip', title='Add')
              i.eos-icons.md-18
                | add
            button.btn.btn-primary.js-tooltip(data-toggle='tooltip', title='Edit')
              i.eos-icons.md-18
                | create
            button.btn.btn-outline-primary.js-tooltip(data-toggle='tooltip', title='Refresh')
              i.eos-icons.md-18
                | autorenew
            button.btn.btn-danger.js-tooltip(data-toggle='tooltip', title='Delete')
              i.eos-icons.md-18
                | delete
          .css-snippet-container
            .scss-snippet-btns.pull-right
              i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                | content_copy
            pre.prettyprint.js-snippet-code
              code
                | &lt;!-- Code snippet for Bootstrap 4 --&gt;
                | &lt;button class='btn btn-default'&gt;
                |   &lt;i class='eos-icons md-18'&gt;add&lt;/i&gt;
                | &lt;/button&gt;
                | &lt;button class='btn btn-primary'&gt;
                |   &lt;i class='eos-icons md-18'&gt;create&lt;/i&gt;
                | &lt;/button&gt;
                | &lt;button class='btn btn-outline-primary'&gt;
                |   &lt;i class='eos-icons md-18'&gt;autorenew&lt;/i&gt;
                | &lt;/button&gt;
                | &lt;button class='btn btn-danger'&gt;
                |   &lt;i class='eos-icons md-18'&gt;delete&lt;/i&gt;
                | &lt;/button&gt;
          .implementation-example-footer
            a.pull-right(href='https://xd.adobe.com/spec/ab5c98c9-d60b-4a9c-7a55-2f90656f1da1-dd6d/screen/b32ba94b-4b9a-450c-9104-a4b1e63b2ce9/Web-1920-2/', target='_blank')
              i.eos-icons.md-18
                | launch
              | Buttons design specifications
