extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Sizing
      p.subheadline
        | The size of buttons plays a key role in helping users to identify buttons according to their importance.

    hr
    article
      section.margin-top-xxl
        h3
          | Full width buttons
        p
          | Full width buttons can span the full width of a parent container.
        p
          | Add class
          |
          strong
            | .btn-block
          |
          | to create a full width button.
        .implementation-example-no-tab
          .result
            button.btn.btn-default.btn-block
              | Button
            button.btn.btn-primary.btn-block
              | Button
          .css-snippet-container
            .scss-snippet-btns.pull-right
              i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                | content_copy
            pre.prettyprint.js-snippet-code
              code
                | &lt;button class='btn btn-default btn-block'&gt;Button&lt;/button&gt;
                | &lt;button class='btn btn-primary btn-block'&gt;Button&lt;/button&gt;
          .implementation-example-footer
            a.pull-right(href='https://xd.adobe.com/spec/ab5c98c9-d60b-4a9c-7a55-2f90656f1da1-dd6d/screen/b32ba94b-4b9a-450c-9104-a4b1e63b2ce9/Web-1920-2/', target='_blank')
              i.eos-icons.md-18
                | launch
              | Buttons design specifications
      section.margin-top-xxl
        h3.title-strong
          | Extra Small
        ul.nav.nav-tabs.nav-justified(role='tablist')
          li.active(role='presentation')
            a(href='#xs-button-examples', aria-controls='xs-button-examples', role='tab', data-toggle='tab')
              | Bootstrap implementation examples
          li(role='presentation')
            a(href='#xs-button-css-snippet', aria-controls='xs-button-css-snippet', role='tab', data-toggle='tab')
              | SCSS code snippet
        .tab-content
          #xs-button-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                button.btn.btn-default.btn-xs
                  | Button
                button.btn.btn-primary.btn-xs
                  | Button
                button.btn.btn-default.btn-xs
                  i.eos-icons.md-18
                    | autorenew
                  |  Button
                button.btn.btn-primary.btn-xs
                  i.eos-icons.md-18
                    | autorenew
                  |  Button
                button.btn.btn-default.btn-xs.js-tooltip(data-toggle='tooltip', title='Add')
                  i.eos-icons.md-18
                    | add
                button.btn.btn-primary.btn-xs.js-tooltip(data-toggle='tooltip', title='Edit')
                  i.eos-icons.md-18
                    | create
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;button class='btn btn-default btn-xs'&gt;Button&lt;/button&gt;
                    | &lt;button class='btn btn-primary btn-xs'&gt;Button&lt;/button&gt;
                    | &lt;button class='btn btn-default btn-xs'&gt;
                    |   &lt;i class='eos-icons md-18'&gt;autorenew&lt;/i&gt; Button
                    | &lt;/button&gt;
                    | &lt;button class='btn btn-primary btn-xs'&gt;
                    |   &lt;i class='eos-icons md-18'&gt;autorenew&lt;/i&gt; Button
                    | &lt;/button&gt;
                    | &lt;button class='btn btn-default btn-xs'&gt;
                    |   &lt;i class='eos-icons md-18'&gt;add&lt;/i&gt;
                    | &lt;/button&gt;
                    | &lt;button class='btn btn-primary btn-xs'&gt;
                    |   &lt;i class='eos-icons md-18'&gt;create&lt;/i&gt;
                    | &lt;/button&gt;
            a.pull-right(href='https://xd.adobe.com/spec/ab5c98c9-d60b-4a9c-7a55-2f90656f1da1-dd6d/screen/b32ba94b-4b9a-450c-9104-a4b1e63b2ce9/Web-1920-2/', target='_blank')
              i.eos-icons.md-18
                | launch
              | Buttons design specifications
          #xs-button-css-snippet.tab-pane(role='tabpanel')
            .css-snippet-container
              .scss-snippet-btns.pull-right
                i.eos-icons.md-18.md-light.js-copy-snippet
                  | content_copy
                a.js-tooltip(href='https://suse.eosdesignsystem.com/stylesheets/elements/buttons/buttons.variables.scss', target='_blank', data-toggle='tooltip', title='Get variables')
                  i.eos-icons.md-18
                    | launch
              pre.prettyprint.js-snippet-code
                code
                  | /* Extra small button */
                  | .btn-xs {
                  |   padding: $eos-btn-xs-padding;
                  |   
                  |   .eos-icons,
                  |   .eos-icons {
                  |     vertical-align: bottom;
                  |   }
                  | }

      section.margin-top-xxl
        h3.title-strong
          | Small
        ul.nav.nav-tabs.nav-justified(role='tablist')
          li.active(role='presentation')
            a(href='#small-button-examples', aria-controls='small-button-examples', role='tab', data-toggle='tab') 
              | Bootstrap implementation examples
          li(role='presentation')
            a(href='#small-button-css-snippet', aria-controls='small-button-css-snippet', role='tab', data-toggle='tab') 
              | SCSS code snippet
        .tab-content
          #small-button-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                button.btn.btn-default.btn-sm
                  | Button
                button.btn.btn-primary.btn-sm
                  | Button
                button.btn.btn-default.btn-sm
                  i.eos-icons.md-18
                    | autorenew
                  |  Button
                button.btn.btn-primary.btn-sm
                  i.eos-icons.md-18
                    | autorenew
                  |  Button
                button.btn.btn-default.btn-sm.js-tooltip(data-toggle='tooltip', title='Add')
                  i.eos-icons.md-18
                    | add
                button.btn.btn-primary.btn-sm.js-tooltip(data-toggle='tooltip', title='Edit')
                  i.eos-icons.md-18
                    | create
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;button class='btn btn-default btn-sm'&gt;Button&lt;/button&gt;
                    | &lt;button class='btn btn-primary btn-sm'&gt;Button&lt;/button&gt;
                    | &lt;button class='btn btn-default btn-sm'&gt;
                    |   &lt;i class='eos-icons md-18'&gt;autorenew&lt;/i&gt; Button
                    | &lt;/button&gt;
                    | &lt;button class='btn btn-primary btn-sm'&gt;
                    |   &lt;i class='eos-icons md-18'&gt;autorenew&lt;/i&gt; Button
                    | &lt;/button&gt;
                    | &lt;button class='btn btn-default btn-sm'&gt;
                    |   &lt;i class='eos-icons md-18'&gt;add&lt;/i&gt;
                    | &lt;/button&gt;
                    | &lt;button class='btn btn-primary btn-sm'&gt;
                    |   &lt;i class='eos-icons md-18'&gt;create&lt;/i&gt;
                    | &lt;/button&gt;
            a.pull-right(href='https://xd.adobe.com/spec/ab5c98c9-d60b-4a9c-7a55-2f90656f1da1-dd6d/screen/b32ba94b-4b9a-450c-9104-a4b1e63b2ce9/Web-1920-2/', target='_blank')
              i.eos-icons.md-18
                | launch
              | Buttons design specifications
          #small-button-css-snippet.tab-pane(role='tabpanel')
            .css-snippet-container
              .scss-snippet-btns.pull-right
                i.eos-icons.md-18.md-light.js-copy-snippet
                  | content_copy
                a.js-tooltip(href='https://suse.eosdesignsystem.com/stylesheets/elements/buttons/buttons.variables.scss', target='_blank', data-toggle='tooltip', title='Get variables')
                  i.eos-icons.md-18
                    | launch
              pre.prettyprint.js-snippet-code
                code
                  | /* Small button */
                  | .btn-sm {
                  |   padding: $eos-btn-sm-padding;
                  |   
                  |   .eos-icons,
                  |   .eos-icons {
                  |     vertical-align: bottom;
                  |   }
                  | }

      section.margin-top-xxl
        h3.title-strong
          | Large
        ul.nav.nav-tabs.nav-justified(role='tablist')
          li.active(role='presentation')
            a(href='#large-button-examples', aria-controls='large-button-examples', role='tab', data-toggle='tab') 
              | Bootstrap implementation examples
          li(role='presentation')
            a(href='#large-button-css-snippet', aria-controls='large-button-css-snippet', role='tab', data-toggle='tab') 
              | SCSS code snippet
        .tab-content
          #large-button-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                button.btn.btn-default.btn-lg
                  | Button
                button.btn.btn-primary.btn-lg
                  | Button
                button.btn.btn-default.btn-icon.btn-lg
                  i.eos-icons.md-24
                    | autorenew
                  |  Button
                button.btn.btn-primary.btn-icon.btn-lg
                  i.eos-icons.md-24
                    | autorenew
                  |  Button
                button.btn.btn-default.btn-lg.js-tooltip(data-toggle='tooltip', title='Add')
                  i.eos-icons.md-24
                    | add
                button.btn.btn-primary.btn-lg.js-tooltip(data-toggle='tooltip', title='Edit')
                  i.eos-icons.md-24
                    | create
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;button class='btn btn-default btn-lg'&gt;Button&lt;/button&gt;
                    | &lt;button class='btn btn-primary btn-lg'&gt;Button&lt;/button&gt;
                    | &lt;button class='btn btn-default btn-lg'&gt;
                    |   &lt;i class='eos-icons md-24'&gt;autorenew&lt;/i&gt; Button
                    | &lt;/button&gt;
                    | &lt;button class='btn btn-primary btn-lg'&gt;
                    |   &lt;i class='eos-icons md-24'&gt;autorenew&lt;/i&gt; Button
                    | &lt;/button&gt;
                    | &lt;button class='btn btn-default btn-lg'&gt;
                    |   &lt;i class='eos-icons md-24'&gt;add&lt;/i&gt;
                    | &lt;/button&gt;
                    | &lt;button class='btn btn-primary btn-lg'&gt;
                    |   &lt;i class='eos-icons md-24'&gt;create&lt;/i&gt;
                    | &lt;/button&gt;
            a.pull-right(href='https://xd.adobe.com/spec/ab5c98c9-d60b-4a9c-7a55-2f90656f1da1-dd6d/screen/b32ba94b-4b9a-450c-9104-a4b1e63b2ce9/Web-1920-2/', target='_blank')
              i.eos-icons.md-18
                | launch
              | Buttons design specifications
          #large-button-css-snippet.tab-pane(role='tabpanel')
            .css-snippet-container
              .scss-snippet-btns.pull-right
                i.eos-icons.md-18.md-light.js-copy-snippet
                  | content_copy
                a.js-tooltip(href='https://suse.eosdesignsystem.com/stylesheets/elements/buttons/buttons.variables.scss', target='_blank', data-toggle='tooltip', title='Get variables')
                  i.eos-icons.md-18
                    | launch
              pre.prettyprint.js-snippet-code
                code
                  | /* Large button */
                  | .btn-lg {
                  |   line-height: $eos-btn-lg-line-height;
                  |   padding: $eos-btn-lg-padding;
                  | }
