extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Common actions
      p.subheadline
        | Common action are ones that users perform regularly. 
        | These should always be used in the same way to maintain consistent behavior.

    hr
    article
      section.margin-top-xxl
        h3
          | Close
        p
          | Closes a modal, message, notification, or cancel/dismiss an action. It is usually placed on the upper right side of the element.
        ul.list-no-padding
          li
            | Use the 
            code
              | close
            |
            | icon from Material Design.
        .figure-wrap.margin-top-xxl
          figure.text-center
            img(src='/images/patterns/common-actions/close.svg')

      section.margin-top-xxl
        h3
          | Delete
        p
          | The delete action should be used for hard-delete, permanent, destructive actions and should always be followed by a confirmation.
        ul.list-no-padding
          li
            | Use the 
            code
              | delete
            |
            | icon from Material Design and the 
            code
              | btn-danger
            |
            | button class for the confirmation message.
        .row.margin-top-xxl
          .col-sm-12.col-md-6
            .figure-wrap
              figure.text-center
                img(src='/images/patterns/common-actions/delete-1.svg')
          .col-sm-12.col-md-6
            .figure-wrap
              figure.text-center
                img(src='/images/patterns/common-actions/delete-2.svg')

      section.margin-top-xxl
        h3
          | Remove
        p
          | The action of removing an item is non-disruptive and it does not require user confirmation.
        ul.list-no-padding
          li
            | Use the 
            code
              | remove_circle
            |
            | icon from Material Design.
        .figure-wrap.margin-top-xxl
          figure.text-center
            img(src='/images/patterns/common-actions/remove.svg')

      section.margin-top-xxl
        h3
          | Cancel
        p
          | Stops the current action. When cancelling an operation in progress may lead to negative consequences, a confirmation message should be used.
        ul.list-no-padding
          li
            | Use the 
            code
              | btn-default
            |
            | button class.
        .figure-wrap.margin-top-xxl
          figure.text-center
            img(src='/images/patterns/common-actions/cancel.svg')

      section.margin-top-xxl
        h3
          | Save
        p
          | Stores changes made to the system. Also used for storing data and files to a filesystem.
        ul.list-no-padding
          li
            | Use the 
            code
              | btn-primary
            |
            | button class.
        .figure-wrap.margin-top-xxl
          figure.text-center
            img(src='/images/patterns/common-actions/save.svg')

      section.margin-top-xxl
        h3
          | Copy
        p
          | Creates a copy of the selected item. In addition to an icon, a tooltip 
          | should be displayed that confirms “Copied”.
          | Always add an option to copy code examples or user/product information that will need to be pasted elsewhere."
        ul.list-no-padding
          li
            | Use the 
            code
              | content_copy
            |
            | icon from Material Design.
        .figure-wrap.margin-top-xxl
          figure.text-center
            img(src='/images/patterns/common-actions/copy.svg')

      section.margin-top-xxl
        h3
          | Edit
        p
          | Modifies data, information and values. When used in modular components 
          | or tables, the edit action should always be used with a tooltip.
        ul.list-no-padding
          li
            | Use the 
            code
              | edit
            |
            | icon from Material Design or a 
            code
              | btn-default
            |
            | button class.
        .row.margin-top-xxl
          .col-sm-12.col-md-6
            .figure-wrap
              figure.text-center
                img(src='/images/patterns/common-actions/edit-1.svg')
          .col-sm-12.col-md-6
            .figure-wrap
              figure.text-center
                img(src='/images/patterns/common-actions/edit-2.svg')

      section.margin-top-xxl
        h3
          | Add
        p
          | Changes an existing system, list, or table by adding a new object to it.
        ul.list-no-padding
          li
            | Use the 
            code
              | add
            |
            | icon from Material Design or a 
            code
              | btn-primary
            |
            | button class.
        .row.margin-top-xxl
          .col-sm-12.col-md-6
            .figure-wrap
              figure.text-center
                img(src='/images/patterns/common-actions/add-1.svg')
          .col-sm-12.col-md-6
            .figure-wrap
              figure.text-center
                img(src='/images/patterns/common-actions/add-2.svg')

      section.margin-top-xxl
        h3
          | Refresh
        p
          | Updates or synchronizes data, information, or content. It can be used 
          | with spin class to animate the icon while data is being retrieved.
        ul.list-no-padding
          li
            | Use the 
            code
              | sync
            |
            | icon from Material Design.
        .figure-wrap.margin-top-xxl
          figure.text-center
            img(src='/images/patterns/common-actions/refresh.svg')
