extends ../layouts/layout-main

block content
  .container.loading-patterns
    section
      h1
        | Spacing
      p.subheadline
        | Spacing variables are used for margins and paddings. In order to achieve visual balance, 
        | consistent spacing needs to be applied across components and layouts 
    hr
    article
      h3
        | Scale
      p
        | When building components and layouts use the spacing scale. All spacings are calculated from base size. Base size is 16px.

      table.table.spacing-table
        thead
          tr
            th
              | Variable
            th
              | Size
            th
              | Example
        tbody
          tr
            td
              | $eos-xs
            td
              | 4px
            td
              span.patter-scale-visual-block.patter-scale-visual-block-xs
            tr
              td
                | $eos-s
              td
                | 8px
              td
                span.patter-scale-visual-block.patter-scale-visual-block-s
            tr
              td
                | $eos-m
              td
                | 16px
              td
                span.patter-scale-visual-block.patter-scale-visual-block-m
            tr
              td
                | $eos-l
              td
                | 24px
              td
                span.patter-scale-visual-block.patter-scale-visual-block-l
            tr
              td
                | $eos-xl
              td
                | 32px
              td
                span.patter-scale-visual-block.patter-scale-visual-block-xl
            tr
              td
                | $eos-xxl
              td
                | 48px
              td
                span.patter-scale-visual-block.patter-scale-visual-block-xxl
            tr
              td
                | $eos-xxxl
              td
                | 64px
              td
                span.patter-scale-visual-block.patter-scale-visual-block-xxxl

      .css-snippet-container.margin-top-xxxl
        .scss-snippet-btns.pull-right
          i.eos-icons.md-18.md-light.js-copy-snippet
            | content_copy
        pre.prettyprint.snippet-code.js-snippet-code
          code
            | $eos-space-base: 16px;
            |
            | $eos-m: $eos-space-base; // = 16px
            | $eos-xs: $eos-m / 4; // = 4px
            | $eos-s: $eos-m / 2; // = 8px
            | $eos-l: $eos-m + ($eos-m / 2); // = 24px
            | $eos-xl: $eos-m * 2; // = 32px
            | $eos-xxl: $eos-m * 3; // = 48px
            | $eos-xxxl: $eos-m * 4; // = 64px
