/* Main menu variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-main-menu-border: 1px solid $eos-bc-gray-100;
$eos-main-menu-bg: $eos-bc-blue-500;
$eos-main-menu-link-color: $eos-bc-white;
$eos-main-menu-title-color: $eos-bc-white;
$eos-main-menu-hr-color: $eos-bc-blue-400;
$eos-main-menu-hr-margin: $eos-m 0;
$eos-selected-color: $eos-bc-white;
$eos-selected-hover-color: $eos-bc-white;

/* Meaningful typography: /assets/stylesheets/eos-base/variables/typography.scss */
$eos-main-menu-font-weight: $eos-font-weight-normal-base;

/* Meaningful media-query: /assets/stylesheets/eos-base/variables/media-query.scss */
$eos-main-menu-sd-max: $eos-sd-max;

/* Meaningful colors: /assets/stylesheets/eos-base/variables/colors.scss */
$eos-selected-bg: $eos-color-main;

/* Meaningful borders: /assets/stylesheets/eos-base/variables/borders.scss */
$eos-selected-border-radius: 0 $eos-base-border-radius-size $eos-base-border-radius-size 0;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-main-menu-zindex: $eos-zindex-navbar;
$eos-main-menu-height: 48px;
$eos-main-menu-spacing: $eos-m;
$eos-main-menu-spacing-burger: $eos-l - 3;
$eos-main-menu-li-no-link-margin: 0 $eos-m 0 0;
$eos-main-menu-li-no-link-padding: $eos-s 0 $eos-s $eos-l - 3;
$eos-main-menu-li-h6-padding: $eos-m;
$eos-main-menu-i-size: $eos-m + 2;
$eos-main-menu-i-font-size: $eos-m + 2;
$eos-main-menu-ul-margin-bottom: $eos-xxl - 8;
$eos-mm-item-hover-spacing: 5px;
$eos-mm-collapsed-title-list-padding: $eos-s $eos-m;
$eos-mm-collapsed-title-margin-left: -1px;
$eos-mm-collapsed-title-padding: $eos-s $eos-m;

/* Layout: /assets/stylesheets/eos-base/variables/layout.scss */
$eos-main-menu-aside-width: $eos-aside-width;

/* Collapsed menu variables */
$eos-mm-collapsed-width: $eos-xxxl - 4;
$eos-mm-collapsed-max-width: $eos-xxxl - 4;
$eos-mm-collapsed-max-height: 53px;
$eos-mm-collapsed-content-margin: $eos-xxxl - 4;

// Menu with collapsible
/* spacing */
$eos-mm-sub-padding: $eos-xxl;
$eos-mm-navigation-close-margin-right: -$eos-m;
$eos-mm-navigation-close-padding: $eos-m;

/* colors */
$eos-mm-sub-li-hover: $eos-color-main;
$eos-mm-sub-li-color: $eos-selected-color;
$eos-mm-item-hover: $eos-bc-green-500;
$eos-mm-collapsed-sub-shadow: $eos-bc-dark-gray;
$eos-mm-collapsed-sub-item: $eos-bc-gray-900;
$eos-mm-collapsed-sub-item-bg: $eos-bc-white;
$eos-mm-collapsed-sub-wrap: $eos-bc-blue-700;

/* Layout */
$eos-mm-collapsed-sub-width: 200px;
$eos-mm-collapsed-sub-position: $eos-mm-collapsed-width;
$eos-mm-sub-li-border-radius: $eos-selected-border-radius;
$eos-mm-navbar-min-height: 85vh;

/* for temporary styles */
$eos-mm-svg-icon-size: 18px;
$eos-mm-svg-icon-marign: 8px;
