/* Main menu
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-components/main-menu/main-menu.variables.scss */
.main-menu {
  background-color: $eos-main-menu-bg;
  border-right: $eos-main-menu-border;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: $eos-main-menu-aside-width;
  z-index: $eos-main-menu-zindex;

  .selected {
    background: $eos-selected-bg;
    border-radius: $eos-selected-border-radius;
    color: $eos-selected-color;

    &:hover {
      color: $eos-selected-hover-color;
    }
  }

  @media screen and (max-width: $eos-main-menu-sd-max) {
    display: none;
  }

  .menu-togglable {
    margin-bottom: $eos-main-menu-ul-margin-bottom;
    padding: 0;

    li {
      padding: 0;
    }
  }

  .menu-title {
    border-left: $eos-mm-item-hover-spacing solid transparent;
    color: $eos-main-menu-link-color;
    cursor: pointer;
    display: block;
    font-weight: $eos-main-menu-font-weight;
    margin: $eos-main-menu-li-no-link-margin;
    padding: $eos-main-menu-li-no-link-padding;
    transition: 0.1s;
    user-select: none;

    &:hover {
      border-left: $eos-mm-item-hover-spacing solid $eos-selected-bg;
      text-decoration: none;
    }
  }

  hr {
    border-top-color: $eos-main-menu-hr-color;
    margin: $eos-main-menu-hr-margin;
  }

  h6 {
    color: $eos-main-menu-title-color;
    margin: 0;
    padding: $eos-main-menu-li-h6-padding;
  }
}

.mm-navigation-container {
  width: 100%;

  /* Fixed size for icons to fix the fliker when are not done loaded. */
  i {
    font-size: $eos-main-menu-i-font-size;
    height: $eos-main-menu-i-size;
    width: $eos-main-menu-i-size;
  }
}

.mm-navigation-close {
  cursor: pointer;
  margin-right: $eos-mm-navigation-close-margin-right;
  padding: $eos-mm-navigation-close-padding;
}

/* Collapsed menu style.
  ========================================================================== */
.collapsed-sidebar {

  &.main-menu {
    width: $eos-mm-collapsed-width;

    li a {
      margin: 0;

      &.selected {
        border-radius: 0;
      }
    }

    .selected {
      border-radius: 0;
    }

    /* From here starts the style for items with dropdown when the menu is collapsed
      ========================================================================== */
    .menu-item {
      position: relative;

      &:hover {
        .main-collapsed-title {
          display: block;
        }
      }
    }

    // dropdown styles
    input[type=checkbox] {

      &:checked {
        ~ ul {
          display: none;
        }

        ~ .menu-title {
          background-color: transparent;
        }
      }
    }

    .menu-item:hover {

      .menu-dropdown-list {
        display: block;
      }
    }

    .menu-title-content,
    .menu-expand {
      display: none;
    }

    .menu-togglable {
      position: absolute;
      width: 100%;

      .menu-item {
        position: relative;

        &:hover {
          background-color: $eos-mm-item-hover;
          cursor: pointer;
        }
      }
    }

    // list menu inside dropdown
    .menu-dropdown-list,
    .main-collapsed-title {
      background: $eos-mm-collapsed-sub-item-bg;
      box-shadow: 6px 3px 5px rgba($eos-mm-collapsed-sub-shadow, .21);
      left: $eos-mm-collapsed-sub-position;
      padding-top: 0;
      position: absolute;
      top: 0;
      width: $eos-mm-collapsed-sub-width;

      li {
        padding: $eos-mm-collapsed-title-list-padding;

        a {
          color: $eos-mm-collapsed-sub-item;
          padding: 0;

          &:hover,
          &.selected {
            background: $eos-mm-collapsed-sub-item-bg;
            color: $eos-mm-item-hover;
          }
        }
      }
    }

    // menu titles for collapsed sidebar (dropdown)
    .menu-collapsed-title,
    .main-collapsed-title {
      background-color: $eos-mm-item-hover;
      color: $eos-mm-collapsed-sub-item-bg;
      font-weight: bold;
      margin-left: $eos-mm-collapsed-title-margin-left;
    }

    .menu-collapsed-title {
      display: block;
    }

    // element section titles
    .main-collapsed-title {
      padding: $eos-mm-collapsed-title-padding;
    }
  }

  .mm-navigation-close {
    left: 0;
    margin-right: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .footer-side-menu,
  .hide-collapsed,
  span {
    display: none;
  }

  // Set content margin same as menu
  & ~.content {
    margin-left: $eos-mm-collapsed-content-margin;
    @media screen and (max-width: $eos-sd-max) {
      margin-left: 0;
    }
  }

  .menu-headers {
    max-height: $eos-mm-collapsed-max-height;
    max-width: $eos-mm-collapsed-max-width;
    visibility: hidden;
  }

  .menu-title {
    border-left: 0;

    &:hover {
      border-left: 0;
    }
  }
}


/* Dropdown menu in main menu
  ========================================================================== */
.menu-dropdown {

  input[type=checkbox] {
    display: none;
  }

  ul {
    display: none;
  }

  input[type=checkbox]:checked,
  &.selected {
    ~ ul {
      display: block;
    }

    ~ label .menu-expand {
      margin-right: $eos-m;
      transform: rotate(180deg);
    }

    ~ .menu-title {
      background-color: $eos-mm-collapsed-sub-wrap;
      margin-right: 0;
    }
  }
}

// top level title
.menu-title {
  .menu-expand {
    // reset margin to align caret to right
    margin-right: 0;
  }
}

/* Uncollapsed sidebar styles for dropdown menu */
.menu-togglable {

  .menu-dropdown-list {
    background: $eos-mm-collapsed-sub-wrap;

    li a {
      padding-left: $eos-mm-sub-padding;
    }
  }
}

// collapsed sidebar titles hidden by default
.menu-collapsed-title,
.main-collapsed-title {
  display: none;
}

.nav-wrap {
  max-height: $eos-mm-navbar-min-height;
  overflow-y: auto;
}

.svg-icon-menu {
  height: $eos-mm-svg-icon-size;
  margin-right: $eos-mm-svg-icon-marign;
  width: $eos-mm-svg-icon-size;
}
