extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Global alerts
      p.subheadline
        | Global alerts are used to inform users about important information related 
        | to the entire system and not just about a section or page.
    hr
    article
      section.margin-top-xxl.global-alerts-demo
        h3.title-strong
          | Description
        ul.list-no-padding
          li
            | Global alerts are triggered by system events.
          li
            | They appear as a fixed, full-width strip, on top of the screen throughout the application.
        .figure-wrap
          figure
            img(src='/images/alerts/global-alert-position.svg')
        h3.title-strong
          | Different states

        h4.title-strong.margin-top-m
          | Success
        p
          | Success alerts should be used when an action was performed successfully.

        ul.nav.nav-tabs.nav-justified(role='tablist')
          li.active(role='presentation')
            a(href='#alert-success-example', aria-controls='alert-success-example', role='tab', data-toggle='tab') 
              | Bootstrap implementation examples
          li(role='presentation')
            a(href='#alert-success-css-snippet', aria-controls='alert-success-css-snippet', role='tab', data-toggle='tab') 
              | Bootstrap SCSS add-on
        .tab-content
          #alert-success-example.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                .alert.alert-global.alert-success
                  i.eos-icons.md-18
                    | check_circle
                  .alert-body
                    //- Place desktop text here [the message should not be more than 65 characters long]
                    .alert-global-desktop
                      | Your account has been successfully migrated to the new user interface.
                    //- Place mobile text here [the message should not be more than 40 characters long]
                    .alert-global-mobile
                      | Your account has been migrated.
                  a.close(data-dismiss='alert')
                    i.eos-icons.md-18
                      | close
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;div class='alert alert-global alert-success'&gt;
                    |  &lt;i class='eos-icons md-18'&gt;check_circle&lt;/i&gt;
                    |  &lt;div class='alert-body'&gt;
                    |    &lt;!-- Place desktop text here [the message should not be more than 65 characters long]--&gt;
                    |    &lt;div class='alert-global-desktop'&gt;Your account has been successfully migrated to the new user interface.&lt;/div&gt;
                    |    &lt;!-- Place mobile text here [the message should not be more than 40 characters long]--&gt;
                    |    &lt;div class='alert-global-mobile'&gt;Your account has been migrated.&lt;/div&gt;
                    |  &lt;/div&gt;
                    |  &lt;a class='close' data-dismiss='alert'&gt;
                    |    &lt;i class='eos-icons md-18'&gt;close&lt;/i&gt;
                    |  &lt;/a&gt;
                    | &lt;/div&gt;
            a.pull-right(href='https://xd.adobe.com/spec/7daf7fb7-58cf-4e3e-790a-ec316f8ca2f9-0b9e/', target='_blank')
              i.eos-icons.md-18
                | launch
              | Alerts design specifications
          #alert-success-css-snippet.tab-pane(role='tabpanel')
            .css-snippet-container
              .scss-snippet-btns.pull-right
                i.eos-icons.md-18.md-light.js-copy-snippet
                  | content_copy
                a.js-tooltip(href='https://suse.eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get variables')
                  i.eos-icons.md-18
                    | launch
              pre.prettyprint.snippet-code.js-snippet-code
                code
                  | /* Shared styles */
                  | .alert {
                  |   border: 0;
                  |   border-radius: 0;
                  |   display: flex;
                  |   padding: $eos-alert-padding;
                  |
                  |   .close {
                  |     flex: 1;
                  |     margin-left: $eos-alert-close-margin-left;
                  |     opacity: 1;
                  |     text-align: right;
                  |     text-shadow: none;
                  |
                  |     i {
                  |       margin-right: 0;
                  |     }
                  |   }
                  |
                  |   > i {
                  |     margin-top: $eos-alert-global-i-margin-top;
                  |   }
                  |
                  |   a {
                  |     font-weight: bold;
                  |     text-decoration: underline;
                  |   }
                  | }
                  |
                  | /* Global alerts
                  |    ========================================================================== */
                  | .alert-global {
                  |   color: $eos-alert-global-text;
                  |   height: $eos-alert-global-height;
                  |   left: 0;
                  |   position: fixed;
                  |   top: 0;
                  |   width: 100%;
                  |    z-index: $eos-alert-global-zindex;
                  |
                  |   a {
                  |     color: $eos-alert-global-link;
                  |     text-decoration: underline;
                  |
                  |     &:hover {
                  |       text-decoration: none;
                  |     }
                  |   }
                  |
                  |   .close:hover,
                  |   .close:focus {
                  |     color: $eos-alert-global-text;
                  |   }
                  |
                  |   /* Success alert */
                  |   &.alert-success {
                  |     background-color: $eos-alert-global-success-bg;
                  |   }
                  |
                  |   /* Info alert */
                  |   &.alert-info {
                  |     background-color: $eos-alert-global-info-bg;
                  |   }
                  |
                  |   /* Warning alert */
                  |   &.alert-warning {
                  |     background-color: $eos-alert-global-warning-bg;
                  |   }
                  |
                  |   /* Danger alert */
                  |   &.alert-danger {
                  |     background-color: $eos-alert-global-danger-bg;
                  |   }
                  |
                  |   &-mobile {
                  |     display: none;
                  |   }
                  |
                  |   @media screen and (max-width: $eos-sd-max) {
                  |     &-desktop {
                  |       display: none;
                  |     }
                  |
                  |     &-mobile {
                  |       display: block;
                  |     }
                  |   }
                  |
                  |   // modify the main menu and content when a alert-global is present
                  |   // so then the banner stays on top and doesnt overlap the rest
                  |   & ~ .main-menu,
                  |   & ~ .content .submenu {
                  |     top: $eos-alert-global-height;
                  |   }
                  |
                  |   // if the banner alert is visible and the main-menu is as well, the footer-content
                  |   // requires a margin-bottom to be fully visible on screen
                  |   & ~ .main-menu .footer-content {
                  |     margin-bottom: $eos-alert-global-height;
                  |   }
                  |
                  |   // if mobile-menu is open in conjuntion with banner alert, then the menu needs
                  |   // extra spacing on top
                  |   @media screen and (max-width: $eos-sd-max) {
                  |     & ~ .mobile-menu {
                  |       top: $eos-alert-global-height;
                  |
                  |       // if alert-global and mobile-menu are present, add 35px more to .content
                  |       & ~ .content {
                  |         padding-top: $eos-alert-global-mm-height + $eos-alert-global-height;
                  |       }
                  |     }
                  |
                  |     & ~ .content .submenu {
                  |       top: $eos-alert-global-mm-height + $eos-alert-global-height;
                  |     }
                  |
                  |   }
                  |
                  |   // if only alert-global is open, add $eos-alert-global-height-mobile as margin-top
                  |   & ~ .content {
                  |     padding-top: $eos-alert-global-height;
                  |     @media screen and (max-width: $eos-sd-max) {
                  |       margin-left: 0;
                  |       padding-top: $eos-alert-global-mm-height;
                  |     }
                  |   }
                  | }
              button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                | Show more
        .margin-top-xxl
          h4.title-strong
            | Info
          p
            | Info alerts should be used when there are tips or information that a user can benefit from.
          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#alert-info-example', aria-controls='alert-info-example', role='tab', data-toggle='tab') 
                | Bootstrap implementation examples
            li(role='presentation')
              a(href='#alert-info-css-snippet', aria-controls='alert-info-css-snippet', role='tab', data-toggle='tab') 
                | Bootstrap SCSS add-on
          .tab-content
            #alert-info-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-global.alert-info
                    i.eos-icons.md-18
                      | info
                    .alert-body
                      //- Place desktop text here [the message should not be more than 65 characters long]
                      .alert-global-desktop
                        | The new Patch Finder 2.0 will be released soon. You can 
                        a(href='#')
                          | see the details 
                        | of this update.
                      //- Place mobile text here [the message should not be more than 40 characters long]
                      .alert-global-mobile
                        a(href='#')
                          |  Patch Finder 2.0 
                        | will be released soon.
                    a.close(data-dismiss='alert')
                      i.eos-icons.md-18
                        | close
                .css-snippet-container
                  .scss-snippet-btns.pull-right
                    i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                      | content_copy
                  pre.prettyprint.js-snippet-code
                    code
                      | &lt;div class='alert alert-global alert-info'&gt;
                      |  &lt;i class='eos-icons md-18'&gt;info&lt;/i&gt;
                      |  &lt;div class='alert-body'&gt;
                      |    &lt;!-- Place desktop text here [the message should not be more than 65 characters long]--&gt;
                      |    &lt;div class='alert-global-desktop'&gt;The new Patch Finder 2.0 will be released soon. You can 
                      |      &lt;a href='#'&gt;see the details &lt;/a&gt;
                      |      of this update.
                      |    &lt;/div&gt;
                      |    &lt;!-- Place mobile text here [the message should not be more than 40 characters long]--&gt;
                      |    &lt;div class='alert-global-mobile'&gt;
                      |      &lt;a href='#'&gt;Patch Finder 2.0 &lt;/a&gt;
                      |      will be released soon.
                      |    &lt;/div&gt;
                      |  &lt;/div&gt;
                      |  &lt;a class='close' data-dismiss='alert'&gt;
                      |    &lt;i class='eos-icons md-18'&gt;close&lt;/i&gt;
                      |  &lt;/a&gt;
                      | &lt;/div&gt;
              a.pull-right(href='https://xd.adobe.com/spec/7daf7fb7-58cf-4e3e-790a-ec316f8ca2f9-0b9e/', target='_blank')
                i.eos-icons.md-18
                  | launch
                | Alerts design specifications
            #alert-info-css-snippet.tab-pane(role='tabpanel')
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                  a.js-tooltip(href='https://suse.eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get variables')
                    i.eos-icons.md-18
                      | launch
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | /* Shared styles */
                    | .alert {
                    |   border: 0;
                    |   border-radius: 0;
                    |   display: flex;
                    |   padding: $eos-alert-padding;
                    |
                    |   .close {
                    |     flex: 1;
                    |     margin-left: $eos-alert-close-margin-left;
                    |     opacity: 1;
                    |     text-align: right;
                    |     text-shadow: none;
                    |
                    |     i {
                    |       margin-right: 0;
                    |     }
                    |   }
                    |
                    |   > i {
                    |     margin-top: $eos-alert-global-i-margin-top;
                    |   }
                    |
                    |   a {
                    |     font-weight: bold;
                    |     text-decoration: underline;
                    |   }
                    | }
                    |
                    | /* Global alerts
                    |    ========================================================================== */
                    | .alert-global {
                    |   color: $eos-alert-global-text;
                    |   height: $eos-alert-global-height;
                    |   left: 0;
                    |   position: fixed;
                    |   top: 0;
                    |   width: 100%;
                    |    z-index: $eos-alert-global-zindex;
                    |
                    |   a {
                    |     color: $eos-alert-global-link;
                    |     text-decoration: underline;
                    |
                    |     &:hover {
                    |       text-decoration: none;
                    |     }
                    |   }
                    |
                    |   .close:hover,
                    |   .close:focus {
                    |     color: $eos-alert-global-text;
                    |   }
                    |
                    |   /* Success alert */
                    |   &.alert-success {
                    |     background-color: $eos-alert-global-success-bg;
                    |   }
                    |
                    |   /* Info alert */
                    |   &.alert-info {
                    |     background-color: $eos-alert-global-info-bg;
                    |   }
                    |
                    |   /* Warning alert */
                    |   &.alert-warning {
                    |     background-color: $eos-alert-global-warning-bg;
                    |   }
                    |
                    |   /* Danger alert */
                    |   &.alert-danger {
                    |     background-color: $eos-alert-global-danger-bg;
                    |   }
                    |
                    |   &-mobile {
                    |     display: none;
                    |   }
                    |
                    |   @media screen and (max-width: $eos-sd-max) {
                    |     &-desktop {
                    |       display: none;
                    |     }
                    |
                    |     &-mobile {
                    |       display: block;
                    |     }
                    |   }
                    |
                    |   // modify the main menu and content when a alert-global is present
                    |   // so then the banner stays on top and doesnt overlap the rest
                    |   & ~ .main-menu,
                    |   & ~ .content .submenu {
                    |     top: $eos-alert-global-height;
                    |   }
                    |
                    |   // if the banner alert is visible and the main-menu is as well, the footer-content
                    |   // requires a margin-bottom to be fully visible on screen
                    |   & ~ .main-menu .footer-content {
                    |     margin-bottom: $eos-alert-global-height;
                    |   }
                    |
                    |   // if mobile-menu is open in conjuntion with banner alert, then the menu needs
                    |   // extra spacing on top
                    |   @media screen and (max-width: $eos-sd-max) {
                    |     & ~ .mobile-menu {
                    |       top: $eos-alert-global-height;
                    |
                    |       // if alert-global and mobile-menu are present, add 35px more to .content
                    |       & ~ .content {
                    |         padding-top: $eos-alert-global-mm-height + $eos-alert-global-height;
                    |       }
                    |     }
                    |
                    |     & ~ .content .submenu {
                    |       top: $eos-alert-global-mm-height + $eos-alert-global-height;
                    |     }
                    |
                    |   }
                    |
                    |   // if only alert-global is open, add $eos-alert-global-height-mobile as margin-top
                    |   & ~ .content {
                    |     padding-top: $eos-alert-global-height;
                    |     @media screen and (max-width: $eos-sd-max) {
                    |       margin-left: 0;
                    |       padding-top: $eos-alert-global-mm-height;
                    |     }
                    |   }
                    | }
                button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                  | Show more
        .margin-top-xxl
          h4.title-strong
            | Warning
          p
            | Warning alerts should be used for messages that likely require attention.
          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#alert-warning-example', aria-controls='alert-warning-example', role='tab', data-toggle='tab') 
                | Bootstrap implementation examples
            li(role='presentation')
              a(href='#alert-warning-css-snippet', aria-controls='alert-warning-css-snippet', role='tab', data-toggle='tab') 
                | Bootstrap SCSS add-on
          .tab-content
            #alert-warning-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-global.alert-warning
                    i.eos-icons.md-18
                      | warning
                    .alert-body
                      //- Place desktop text here [the message should not be more than 65 characters long]
                      .alert-global-desktop
                        | Your browser is outdated. For a better experience consider upgrading it to the latest version available.
                      //- Place mobile text here [the message should not be more than 40 characters long]
                      .alert-global-mobile
                        | Your browser is outdated. Consider upgrading it.
                    a.close(data-dismiss='alert')
                      i.eos-icons.md-18
                        | close
                .css-snippet-container
                  .scss-snippet-btns.pull-right
                    i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                      | content_copy
                  pre.prettyprint.js-snippet-code
                    code
                      | &lt;div class='alert alert-global alert-warning'&gt;
                      |  &lt;i class='eos-icons md-18'&gt;warning&lt;/i&gt;
                      |  &lt;div class='alert-body'&gt;
                      |    &lt;!-- Place desktop text here [the message should not be more than 65 characters long]--&gt;
                      |    &lt;div class='alert-global-desktop'&gt;Your browser is outdated. For a better experience consider upgrading it to the latest version available.&lt;/div&gt;
                      |    &lt;!-- Place mobile text here [the message should not be more than 40 characters long]--&gt;
                      |    &lt;div class='alert-global-mobile'&gt;Your browser is outdated. Consider upgrading it.&lt;/div&gt;
                      |  &lt;/div&gt;
                      |  &lt;a class='close' data-dismiss='alert'&gt;
                      |    &lt;i class='eos-icons md-18'&gt;close&lt;/i&gt;
                      |  &lt;/a&gt;
                      | &lt;/div&gt;
              a.pull-right(href='https://xd.adobe.com/spec/7daf7fb7-58cf-4e3e-790a-ec316f8ca2f9-0b9e/', target='_blank')
                i.eos-icons.md-18
                  | launch
                | Alerts design specifications
            #alert-warning-css-snippet.tab-pane(role='tabpanel')
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                  a.js-tooltip(href='https://suse.eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get variables')
                    i.eos-icons.md-18
                      | launch
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | /* Shared styles */
                    | .alert {
                    |   border: 0;
                    |   border-radius: 0;
                    |   display: flex;
                    |   padding: $eos-alert-padding;
                    |
                    |   .close {
                    |     flex: 1;
                    |     margin-left: $eos-alert-close-margin-left;
                    |     opacity: 1;
                    |     text-align: right;
                    |     text-shadow: none;
                    |
                    |     i {
                    |       margin-right: 0;
                    |     }
                    |   }
                    |
                    |   > i {
                    |     margin-top: $eos-alert-global-i-margin-top;
                    |   }
                    |
                    |   a {
                    |     font-weight: bold;
                    |     text-decoration: underline;
                    |   }
                    | }
                    |
                    | /* Global alerts
                    |    ========================================================================== */
                    | .alert-global {
                    |   color: $eos-alert-global-text;
                    |   height: $eos-alert-global-height;
                    |   left: 0;
                    |   position: fixed;
                    |   top: 0;
                    |   width: 100%;
                    |    z-index: $eos-alert-global-zindex;
                    |
                    |   a {
                    |     color: $eos-alert-global-link;
                    |     text-decoration: underline;
                    |
                    |     &:hover {
                    |       text-decoration: none;
                    |     }
                    |   }
                    |
                    |   .close:hover,
                    |   .close:focus {
                    |     color: $eos-alert-global-text;
                    |   }
                    |
                    |   /* Success alert */
                    |   &.alert-success {
                    |     background-color: $eos-alert-global-success-bg;
                    |   }
                    |
                    |   /* Info alert */
                    |   &.alert-info {
                    |     background-color: $eos-alert-global-info-bg;
                    |   }
                    |
                    |   /* Warning alert */
                    |   &.alert-warning {
                    |     background-color: $eos-alert-global-warning-bg;
                    |   }
                    |
                    |   /* Danger alert */
                    |   &.alert-danger {
                    |     background-color: $eos-alert-global-danger-bg;
                    |   }
                    |
                    |   &-mobile {
                    |     display: none;
                    |   }
                    |
                    |   @media screen and (max-width: $eos-sd-max) {
                    |     &-desktop {
                    |       display: none;
                    |     }
                    |
                    |     &-mobile {
                    |       display: block;
                    |     }
                    |   }
                    |
                    |   // modify the main menu and content when a alert-global is present
                    |   // so then the banner stays on top and doesnt overlap the rest
                    |   & ~ .main-menu,
                    |   & ~ .content .submenu {
                    |     top: $eos-alert-global-height;
                    |   }
                    |
                    |   // if the banner alert is visible and the main-menu is as well, the footer-content
                    |   // requires a margin-bottom to be fully visible on screen
                    |   & ~ .main-menu .footer-content {
                    |     margin-bottom: $eos-alert-global-height;
                    |   }
                    |
                    |   // if mobile-menu is open in conjuntion with banner alert, then the menu needs
                    |   // extra spacing on top
                    |   @media screen and (max-width: $eos-sd-max) {
                    |     & ~ .mobile-menu {
                    |       top: $eos-alert-global-height;
                    |
                    |       // if alert-global and mobile-menu are present, add 35px more to .content
                    |       & ~ .content {
                    |         padding-top: $eos-alert-global-mm-height + $eos-alert-global-height;
                    |       }
                    |     }
                    |
                    |     & ~ .content .submenu {
                    |       top: $eos-alert-global-mm-height + $eos-alert-global-height;
                    |     }
                    |
                    |   }
                    |
                    |   // if only alert-global is open, add $eos-alert-global-height-mobile as margin-top
                    |   & ~ .content {
                    |     padding-top: $eos-alert-global-height;
                    |     @media screen and (max-width: $eos-sd-max) {
                    |       margin-left: 0;
                    |       padding-top: $eos-alert-global-mm-height;
                    |     }
                    |   }
                    | }
                button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                  | Show more
        .margin-top-xxl
          h4.title-strong
            | Danger
          p
            | Danger alerts should be used when the system has failed to perform an action, or when the user has made an error.
          strong
            | * Never include a close icon or link to dismiss the action. In cases when the alert should be dismissible use a warning alert instead. 
            | In many cases like this, the user path can be changed to achieve better results without requiring a close button in the component.

          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#alert-danger-example', aria-controls='alert-danger-example', role='tab', data-toggle='tab') 
                | Bootstrap implementation examples
            li(role='presentation')
              a(href='#alert-danger-css-snippet', aria-controls='alert-danger-css-snippet', role='tab', data-toggle='tab') 
                | Bootstrap SCSS add-on
          .tab-content
            #alert-danger-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-global.alert-danger
                    i.eos-icons.md-18
                      | error
                    .alert-body
                      //- Place desktop text here [the message should not be more than 65 characters long]
                      .alert-global-desktop
                        | The connection has been lost. Check your connection and refresh this page.
                      //- Place mobile text here [the message should not be more than 40 characters long]
                      .alert-global-mobile
                        | The connection has been lost.
                .css-snippet-container
                  .scss-snippet-btns.pull-right
                    i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                      | content_copy
                  pre.prettyprint.js-snippet-code
                    code
                      | &lt;div class='alert alert-global alert-danger'&gt;
                      |  &lt;i class='eos-icons md-18'&gt;error&lt;/i&gt;
                      |  &lt;div class='alert-body'&gt;
                      |    &lt;!-- Place desktop text here [the message should not be more than 65 characters long]--&gt;
                      |    &lt;div class='alert-global-desktop'&gt;The connection has been lost. Check your connection and refresh this page.&lt;/div&gt;
                      |    &lt;!-- Place mobile text here [the message should not be more than 40 characters long]--&gt;
                      |    &lt;div class='alert-global-mobile'&gt;The connection has been lost.&lt;/div&gt;
                      |  &lt;/div&gt;
                      | &lt;/div&gt;
              a.pull-right(href='https://xd.adobe.com/spec/7daf7fb7-58cf-4e3e-790a-ec316f8ca2f9-0b9e/', target='_blank')
                i.eos-icons.md-18
                  | launch
                | Alerts design specifications
            #alert-danger-css-snippet.tab-pane(role='tabpanel')
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                  a.js-tooltip(href='https://suse.eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get variables')
                    i.eos-icons.md-18
                      | launch
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | /* Shared styles */
                    | .alert {
                    |   border: 0;
                    |   border-radius: 0;
                    |   display: flex;
                    |   padding: $eos-alert-padding;
                    |
                    |   .close {
                    |     flex: 1;
                    |     margin-left: $eos-alert-close-margin-left;
                    |     opacity: 1;
                    |     text-align: right;
                    |     text-shadow: none;
                    |
                    |     i {
                    |       margin-right: 0;
                    |     }
                    |   }
                    |
                    |   > i {
                    |     margin-top: $eos-alert-global-i-margin-top;
                    |   }
                    |
                    |   a {
                    |     font-weight: bold;
                    |     text-decoration: underline;
                    |   }
                    | }
                    |
                    | /* Global alerts
                    |    ========================================================================== */
                    | .alert-global {
                    |   color: $eos-alert-global-text;
                    |   height: $eos-alert-global-height;
                    |   left: 0;
                    |   position: fixed;
                    |   top: 0;
                    |   width: 100%;
                    |    z-index: $eos-alert-global-zindex;
                    |
                    |   a {
                    |     color: $eos-alert-global-link;
                    |     text-decoration: underline;
                    |
                    |     &:hover {
                    |       text-decoration: none;
                    |     }
                    |   }
                    |
                    |   .close:hover,
                    |   .close:focus {
                    |     color: $eos-alert-global-text;
                    |   }
                    |
                    |   /* Success alert */
                    |   &.alert-success {
                    |     background-color: $eos-alert-global-success-bg;
                    |   }
                    |
                    |   /* Info alert */
                    |   &.alert-info {
                    |     background-color: $eos-alert-global-info-bg;
                    |   }
                    |
                    |   /* Warning alert */
                    |   &.alert-warning {
                    |     background-color: $eos-alert-global-warning-bg;
                    |   }
                    |
                    |   /* Danger alert */
                    |   &.alert-danger {
                    |     background-color: $eos-alert-global-danger-bg;
                    |   }
                    |
                    |   &-mobile {
                    |     display: none;
                    |   }
                    |
                    |   @media screen and (max-width: $eos-sd-max) {
                    |     &-desktop {
                    |       display: none;
                    |     }
                    |
                    |     &-mobile {
                    |       display: block;
                    |     }
                    |   }
                    |
                    |   // modify the main menu and content when a alert-global is present
                    |   // so then the banner stays on top and doesnt overlap the rest
                    |   & ~ .main-menu,
                    |   & ~ .content .submenu {
                    |     top: $eos-alert-global-height;
                    |   }
                    |
                    |   // if the banner alert is visible and the main-menu is as well, the footer-content
                    |   // requires a margin-bottom to be fully visible on screen
                    |   & ~ .main-menu .footer-content {
                    |     margin-bottom: $eos-alert-global-height;
                    |   }
                    |
                    |   // if mobile-menu is open in conjuntion with banner alert, then the menu needs
                    |   // extra spacing on top
                    |   @media screen and (max-width: $eos-sd-max) {
                    |     & ~ .mobile-menu {
                    |       top: $eos-alert-global-height;
                    |
                    |       // if alert-global and mobile-menu are present, add 35px more to .content
                    |       & ~ .content {
                    |         padding-top: $eos-alert-global-mm-height + $eos-alert-global-height;
                    |       }
                    |     }
                    |
                    |     & ~ .content .submenu {
                    |       top: $eos-alert-global-mm-height + $eos-alert-global-height;
                    |     }
                    |
                    |   }
                    |
                    |   // if only alert-global is open, add $eos-alert-global-height-mobile as margin-top
                    |   & ~ .content {
                    |     padding-top: $eos-alert-global-height;
                    |     @media screen and (max-width: $eos-sd-max) {
                    |       margin-left: 0;
                    |       padding-top: $eos-alert-global-mm-height;
                    |     }
                    |   }
                    | }

                button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                  | Show more
