extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Inline alerts
      p.subheadline
        | Inline alerts are used to notify a user of the status of an action within a component when the action is triggered in real time. 

    hr
    article
      section.margin-top-xxl.section-alerts-demo
        h3.title-strong
          | Description
        ul.list-no-padding
          li
            | They are often triggered in response to an action by the user.
          li
            | Inline alerts are positioned within the area or form they relate to.
          li
            | Alerts of high importance (warning or danger) should not close automatically, until the situation has been resolved.
        .figure-wrap
          figure
            img(src='/images/alerts/inline-alert-position.svg')
        h3.title-strong
          | Different states and types

        h4.title-strong.margin-top-m
          | Success
        p
          | Success alerts should be used when an action was performed successfully.
        ul.nav.nav-tabs.nav-justified(role='tablist')
          li.active(role='presentation')
            a(href='#alert-success-example', aria-controls='alert-success-example', role='tab', data-toggle='tab') 
              | Bootstrap implementation examples
          li(role='presentation')
            a(href='#alert-success-css-snippet', aria-controls='alert-success-css-snippet', role='tab', data-toggle='tab') 
              | Bootstrap SCSS add-on
        .tab-content
          #alert-success-example.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                .alert.alert-inline.alert-success
                  i.eos-icons.md-18.alert-icon
                    | check_circle
                  .alert-body
                    | Settings saved.
                  a.close(data-dismiss='alert')
                    i.eos-icons.md-18
                      | close
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;div class='alert alert-inline alert-success'&gt;
                    |   &lt;i class='eos-icons md-18 alert-icon'&gt;check_circle&lt;/i&gt;
                    |   &lt;div class='alert-body'&gt;Settings saved.&lt;/div&gt;
                    |   &lt;a class='close' data-dismiss='alert'&gt;
                    |     &lt;i class='eos-icons md-18'&gt;close&lt;/i&gt;
                    |   &lt;/a&gt;
                    | &lt;/div&gt;
            a.pull-right(href='https://xd.adobe.com/spec/7daf7fb7-58cf-4e3e-790a-ec316f8ca2f9-0b9e/', target='_blank')
              i.eos-icons.md-18
                | launch
              | Alerts design specifications
          #alert-success-css-snippet.tab-pane(role='tabpanel')
            .css-snippet-container
              .scss-snippet-btns.pull-right
                i.eos-icons.md-18.md-light.js-copy-snippet
                  | content_copy
                a.js-tooltip(href='https://suse.eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                  i.eos-icons.md-18
                    | launch
              pre.prettyprint.snippet-code.js-snippet-code
                code
                  | /* Alert */
                  | .alert {
                  |   // reset Bootstrap border-radius
                  |   border-radius: 0;
                  |   border: 0; 
                  |   display: flex;
                  |   padding: 8px 8px 8px 24px;
                  |
                  |   .close {
                  |     opacity: 1;
                  |     text-shadow: none;
                  |     text-align: right;
                  |     flex: 1;
                  |     margin-left: 8px;
                  |
                  |     i {
                  |       margin-right: 0;
                  |     }
                  |   }
                  |   
                  |   > i {
                  |     margin-top: 2px;
                  |   }
                  |
                  |   a {
                  |     font-weight: 700;
                  |     text-decoration: underline;
                  |   }
                  | }
                  |
                  | /* Inline alert */
                  | .alert-inline {
                  |   // reset Bootstrap default border colours
                  |   color: $eos-bc-dark-gray;
                  |   border-left: 5px solid;
                  |
                  |   a {
                  |     color: $eos-bc-dark-gray;
                  |   }
                  |   
                  |   /* Success alert */
                  |    &.alert-success {
                  |      background-color: $eos-bc-green-100;
                  |      border-color: $eos-bc-green-500;
                  |
                  |      .alert-icon {
                  |        color: $eos-bc-green-500;
                  |       }
                  |     }
                  |   }
              button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                | Show more

        .margin-top-xxl
          h4.title-strong.margin-top-m
            | Info
          p
            | Info alerts should be used when there are tips or information that a user can benefit from.
          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#alert-info-example', aria-controls='alert-info-example', role='tab', data-toggle='tab') 
                | Bootstrap implementation examples
            li(role='presentation')
              a(href='#alert-info-css-snippet', aria-controls='alert-info-css-snippet', role='tab', data-toggle='tab') 
                | Bootstrap SCSS add-on
          .tab-content
            #alert-info-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-inline.alert-info
                    i.eos-icons.md-18.alert-icon
                      | info
                    .alert-body
                      a
                        | New comments
                      |
                      | awaiting response.
                    a.close(data-dismiss='alert')
                      i.eos-icons.md-18
                        | close
                .css-snippet-container
                  .scss-snippet-btns.pull-right
                    i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                      | content_copy
                  pre.prettyprint.js-snippet-code
                    code
                      | &lt;div class='alert alert-inline alert-info'&gt;
                      |   &lt;i class='eos-icons md-18 alert-icon'&gt;info&lt;/i&gt;
                      |   &lt;div class='alert-body'&gt;
                      |     &lt;a href='#'&gt;New comments&lt;/a&gt;
                      |     awaiting response.
                      |   &lt;/div&gt;
                      |   &lt;a class='close' data-dismiss='alert'&gt;
                      |     &lt;i class='eos-icons md-18'&gt;close&lt;/i&gt;
                      |   &lt;/a&gt;
                      | &lt;/div&gt;
              a.pull-right(href='https://xd.adobe.com/spec/7daf7fb7-58cf-4e3e-790a-ec316f8ca2f9-0b9e/', target='_blank')
                i.eos-icons.md-18
                  | launch
                | Alerts design specifications
            #alert-info-css-snippet.tab-pane(role='tabpanel')
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                  a.js-tooltip(href='https://suse.eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                    i.eos-icons.md-18
                      | launch
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | /* Alert */
                    | .alert {
                    |   // reset Bootstrap border-radius
                    |   border-radius: 0;
                    |   border: 0; 
                    |   display: flex;
                    |   padding: 8px 8px 8px 24px;
                    |
                    |   .close {
                    |     opacity: 1;
                    |     text-shadow: none;
                    |     text-align: right;
                    |     flex: 1;
                    |     margin-left: 8px;
                    |
                    |     i {
                    |       margin-right: 0;
                    |     }
                    |   }
                    |   
                    |   > i {
                    |     margin-top: 2px;
                    |   }
                    |
                    |   a {
                    |     font-weight: 700;
                    |     text-decoration: underline;
                    |   }
                    | }
                    |
                    | /* Inline alert */
                    | .alert-inline {
                    |   // reset Bootstrap default border colours
                    |   color: $eos-bc-dark-gray;
                    |   border-left: 5px solid;
                    |
                    |   a {
                    |     color: $eos-bc-dark-gray;
                    |   }
                    |   
                    |   /* Info alert */
                    |   &.alert-info {
                    |     background-color: $eos-bc-cerulean-100;
                    |     border-color: $eos-bc-cerulean-500;
                    |
                    |     .alert-icon {
                    |       color: $eos-bc-cerulean-500;
                    |      }
                    |   }
                    | }
                button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                  | Show more

        .margin-top-xxl
          h4.title-strong.margin-top-m
            | Warning
          p
            | Warning alerts should be used for messages that likely require attention.
          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#alert-warning-example', aria-controls='alert-warning-example', role='tab', data-toggle='tab') 
                | Bootstrap implementation examples
            li(role='presentation')
              a(href='#alert-warning-css-snippet', aria-controls='alert-warning-css-snippet', role='tab', data-toggle='tab') 
                | Bootstrap SCSS add-on
          .tab-content
            #alert-warning-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-inline.alert-warning
                    i.eos-icons.md-18.alert-icon
                      | warning
                    .alert-body
                      | Subscription expiring soon.
                    a.close(data-dismiss='alert')
                      i.eos-icons.md-18
                        | close
                .css-snippet-container
                  .scss-snippet-btns.pull-right
                    i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                      | content_copy
                  pre.prettyprint.js-snippet-code
                    code
                      | &lt;div class='alert alert-inline alert-warning'&gt;
                      |   &lt;i class='eos-icons md-18 alert-icon'&gt;warning&lt;/i&gt;
                      |   &lt;div class='alert-body'&gt;Subscription expiring soon.&lt;/div&gt;
                      |   &lt;a class='close' data-dismiss='alert'&gt;
                      |     &lt;i class='eos-icons md-18'&gt;close&lt;/i&gt;
                      |   &lt;/a&gt;
                      | &lt;/div&gt;
              a.pull-right(href='https://xd.adobe.com/spec/7daf7fb7-58cf-4e3e-790a-ec316f8ca2f9-0b9e/', target='_blank')
                i.eos-icons.md-18
                  | launch
                | Alerts design specifications
            #alert-warning-css-snippet.tab-pane(role='tabpanel')
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                  a.js-tooltip(href='https://suse.eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                    i.eos-icons.md-18
                      | launch
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | /* Alert */
                    | .alert {
                    |   // reset Bootstrap border-radius
                    |   border-radius: 0;
                    |   border: 0; 
                    |   display: flex;
                    |   padding: 8px 8px 8px 24px;
                    |
                    |   .close {
                    |     opacity: 1;
                    |     text-shadow: none;
                    |     text-align: right;
                    |     flex: 1;
                    |     margin-left: 8px;
                    |
                    |     i {
                    |       margin-right: 0;
                    |     }
                    |   }
                    |   
                    |   > i {
                    |     margin-top: 2px;
                    |   }
                    |
                    |   a {
                    |     font-weight: 700;
                    |     text-decoration: underline;
                    |   }
                    | }
                    |
                    | /* Inline alert */
                    | .alert-inline {
                    |   // reset Bootstrap default border colours
                    |   color: $eos-bc-dark-gray;
                    |   border-left: 5px solid;
                    |
                    |   a {
                    |     color: $eos-bc-dark-gray;
                    |   }
                    |   
                    |   /* Warning alert */
                    |   &.alert-warning {
                    |     background-color: $eos-bc-yellow-100;
                    |     border-color: $eos-bc-yellow-900;
                    |
                    |     .alert-icon {
                    |       color: $eos-bc-yellow-900;
                    |      }
                    |   }
                    | }
                button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                  | Show more
        .margin-top-xxl
          h4.title-strong.margin-top-m
            | Danger
          p
            | Danger alerts should be used when the system has failed to perform an action, or when the user has made an error.
          strong
            | * Never include a close icon or link to dismiss the action. In cases when alert should be dismissible use warning alert instead.

          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#alert-danger-example', aria-controls='alert-danger-example', role='tab', data-toggle='tab') 
                | Bootstrap implementation examples
            li(role='presentation')
              a(href='#alert-danger-css-snippet', aria-controls='alert-danger-css-snippet', role='tab', data-toggle='tab') 
                | Bootstrap SCSS add-on
          .tab-content
            #alert-danger-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-inline.alert-danger
                    i.eos-icons.md-18.alert-icon
                      | error
                    .alert-body
                      | Subscription expired.
                      |
                      a
                        | Renew
                      |
                      | subscription.
                .css-snippet-container
                  .scss-snippet-btns.pull-right
                    i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                      | content_copy
                  pre.prettyprint.js-snippet-code
                    code
                      | &lt;div class='alert alert-inline alert-danger'&gt;
                      |   &lt;i class='eos-icons md-18 alert-icon'&gt;error&lt;/i&gt;
                      |   &lt;div class='alert-body'&gt;
                      |     Subscription expired.&lt;a href='#'&gt;Renew&lt;/a&gt; subscription.
                      |   &lt;/div&gt;
                      | &lt;/div&gt;
              a.pull-right(href='https://xd.adobe.com/spec/7daf7fb7-58cf-4e3e-790a-ec316f8ca2f9-0b9e/', target='_blank')
                i.eos-icons.md-18
                  | launch
                | Alerts design specifications
            #alert-danger-css-snippet.tab-pane(role='tabpanel')
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                  a.js-tooltip(href='https://suse.eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                    i.eos-icons.md-18
                      | launch
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | /* Alert */
                    | .alert {
                    |   // reset Bootstrap border-radius
                    |   border-radius: 0;
                    |   border: 0; 
                    |   display: flex;
                    |   padding: 8px 8px 8px 24px;
                    |   
                    |   > i {
                    |     margin-top: 2px;
                    |   }
                    |
                    |   a {
                    |     font-weight: 700;
                    |     text-decoration: underline;
                    |   }
                    | }
                    |
                    | /* Inline alert */
                    | .alert-inline {
                    |   // reset Bootstrap default border colours
                    |   color: $eos-bc-dark-gray;
                    |   border-left: 5px solid;
                    |
                    |   a {
                    |     color: $eos-bc-dark-gray;
                    |   }
                    |   
                    |   /* Danger alert */
                    |   &.alert-danger {
                    |     background-color: $eos-bc-red-100;
                    |     border-color: $eos-bc-red-500;
                    |
                    |     .alert-icon {
                    |       color: $eos-bc-red-500;
                    |      }
                    |   }
                    | }
                button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                  | Show more
