extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Section alerts
      p.subheadline
        | Section alerts are used to inform the user of important information related to the current section.
        | They include a subject title and message to inform the user of details.

    hr
    article
      section.margin-top-xxl.section-alerts-demo
        h3.title-strong
          | Description
        ul.list-no-padding
          li
            | They may be triggered by a user interaction or action or can be a system alert related to the section at hand.
          li
            | Section alerts appear above the area or form they relate to.
          li
            | Use a subject title and message to inform the user of details.
        .figure-wrap
          figure
            img(src='/images/alerts/section-alert-position.svg')
        h3.title-strong
          | Different states and types

        h4.title-strong.margin-top-m
          | Success
        p
          | Success alerts should be used when an action was performed successfully.
        ul.nav.nav-tabs.nav-justified(role='tablist')
          li.active(role='presentation')
            a(href='#alert-success-example', aria-controls='alert-success-example', role='tab', data-toggle='tab') 
              | Bootstrap implementation examples
          li(role='presentation')
            a(href='#alert-success-css-snippet', aria-controls='alert-success-css-snippet', role='tab', data-toggle='tab') 
              | Bootstrap SCSS add-on
        .tab-content
          #alert-success-example.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                .alert.alert-section.alert-success
                  i.eos-icons.md-18.alert-icon
                    | check_circle
                  .alert-body
                    .alert-title
                      | Your system has been updated
                    | The changes may take take a few minutes to impact your services.
                  a.close(data-dismiss='alert')
                    i.eos-icons.md-18
                      | close
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;div class='alert alert-section alert-success'&gt;
                    |   &lt;i class='eos-icons md-18 alert-icon'&gt;check_circle&lt;/i&gt;
                    |   &lt;div class='alert-body'&gt;
                    |     &lt;div class='alert-title'&gt;Your system has been updated&lt;/div&gt;
                    |     The changes may take take a few minutes to impact your services.
                    |   &lt;/div&gt;
                    |   &lt;a class='close' data-dismiss='alert'&gt;
                    |      &lt;i class='eos-icons md-18'&gt;close&lt;/i&gt;
                    |   &lt;/a&gt;
                    | &lt;/div&gt;
            a.pull-right(href='https://xd.adobe.com/spec/7daf7fb7-58cf-4e3e-790a-ec316f8ca2f9-0b9e/', target='_blank')
              i.eos-icons.md-18
                | launch
              | Alerts design specifications
          #alert-success-css-snippet.tab-pane(role='tabpanel')
            .css-snippet-container
              .scss-snippet-btns.pull-right
                i.eos-icons.md-18.md-light.js-copy-snippet
                  | content_copy
                a.js-tooltip(href='https://suse.eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                  i.eos-icons.md-18
                    | launch
              pre.prettyprint.snippet-code.js-snippet-code
                code
                  | /* Alert */
                  | .alert {
                  |   // reset Bootstrap border-radius
                  |   border-radius: 0;
                  |   border: 0; 
                  |   display: flex;
                  |   padding: 8px 8px 8px 24px;
                  |
                  |   .close {
                  |     opacity: 1;
                  |     text-shadow: none;
                  |     text-align: right;
                  |     flex: 1;
                  |     margin-left: 8px;
                  |
                  |     i {
                  |       margin-right: 0;
                  |     }
                  |   }
                  |   
                  |   > i {
                  |     margin-top: 2px;
                  |   }
                  |
                  |   a {
                  |     font-weight: 700;
                  |     text-decoration: underline;
                  |   }
                  | }
                  |
                  | /* Section alert */
                  | .alert-section {
                  |   // reset Bootstrap default border colours
                  |   color: $eos-bc-dark-gray;
                  |   border-left: 5px solid;
                  |
                  |   a {
                  |     color: $eos-bc-dark-gray;
                  |   }
                  |
                  |   .alert-title {
                  |     font-size: 16px;
                  |     font-weight: bold;
                  |     margin-bottom: 8px;
                  |   }
                  |   
                  |   /* Success alert */
                  |   &.alert-success {
                  |     background-color: $eos-bc-green-100;
                  |     border-color: $eos-bc-green-500;
                  |
                  |     .alert-icon {
                  |       color: $eos-bc-green-500;
                  |     }
                  |   }
                  | }
              button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                | Show more

        .margin-top-xxl
          h4.title-strong.margin-top-m
            | Info
          p
            | Info alerts should be used when there are tips or information that a user can benefit from. 
          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#alert-info-example', aria-controls='alert-info-example', role='tab', data-toggle='tab') 
                | Bootstrap implementation examples
            li(role='presentation')
              a(href='#alert-info-css-snippet', aria-controls='alert-info-css-snippet', role='tab', data-toggle='tab') 
                | Bootstrap SCSS add-on
          .tab-content
            #alert-info-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-section.alert-info
                    i.eos-icons.md-18.alert-icon
                      | info
                    .alert-body
                      .alert-title
                        | New updates available
                      | A new system update is available for some of your systems. Got to
                      |
                      a(href='#')
                        | documentation page
                      |
                      | to learn more about this new update and how to install it.
                    a.close(data-dismiss='alert')
                      i.eos-icons.md-18
                        | close
                .css-snippet-container
                  .scss-snippet-btns.pull-right
                    i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                      | content_copy
                  pre.prettyprint.js-snippet-code
                    code
                      | &lt;div class='alert alert-section alert-info'&gt;
                      |   &lt;i class='eos-icons md-18 alert-icon'&gt;info&lt;/i&gt;
                      |   &lt;div class='alert-body'&gt;
                      |     &lt;div class='alert-title'&gt;New updates available&lt;/div&gt;
                      |     A new system update is available for some of your systems. Got to &lt;a href='#'&gt;documentation page&lt;/a&gt; to 
                      |     learn more about this new update and how to install it.
                      |   &lt;/div&gt;
                      |   &lt;a class='close' data-dismiss='alert'&gt;
                      |      &lt;i class='eos-icons md-18'&gt;close&lt;/i&gt;
                      |   &lt;/a&gt;
                      | &lt;/div&gt;
              a.pull-right(href='https://xd.adobe.com/spec/7daf7fb7-58cf-4e3e-790a-ec316f8ca2f9-0b9e/', target='_blank')
                i.eos-icons.md-18
                  | launch
                | Alerts design specifications
            #alert-info-css-snippet.tab-pane(role='tabpanel')
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                  a.js-tooltip(href='https://suse.eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                    i.eos-icons.md-18
                      | launch
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | /* Alert */
                    | .alert {
                    |   // reset Bootstrap border-radius
                    |   border-radius: 0;
                    |   border: 0; 
                    |   display: flex;
                    |   padding: 8px 8px 8px 24px;
                    |
                    |   .close {
                    |     opacity: 1;
                    |     text-shadow: none;
                    |     text-align: right;
                    |     flex: 1;
                    |     margin-left: 8px;
                    |
                    |     i {
                    |       margin-right: 0;
                    |     }
                    |   }
                    |   
                    |   > i {
                    |     margin-top: 2px;
                    |   }
                    |
                    |   a {
                    |     font-weight: 700;
                    |     text-decoration: underline;
                    |   }
                    | }
                    |
                    | /* Section alert */
                    | .alert-section {
                    |   // reset Bootstrap default border colours
                    |   color: $eos-bc-dark-gray;
                    |   border-left: 5px solid;
                    |
                    |   a {
                    |     color: $eos-bc-dark-gray;
                    |   }
                    |
                    |   .alert-title {
                    |     font-size: 16px;
                    |     font-weight: bold;
                    |     margin-bottom: 8px;
                    |   }
                    |   
                    |   /* Info alert */
                    |   &.alert-info {
                    |     background-color: $eos-bc-cerulean-100;
                    |     border-color: $eos-bc-cerulean-500;
                    |
                    |     .alert-icon {
                    |       color: $eos-bc-cerulean-500;
                    |     }
                    |   }
                    | }
                button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                  | Show more

        .margin-top-xxl
          h4.title-strong.margin-top-m
            | Warning
          p
            | Warning alerts should be used for messages that likely require attention.
          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#alert-warning-example', aria-controls='alert-warning-example', role='tab', data-toggle='tab') 
                | Bootstrap implementation examples
            li(role='presentation')
              a(href='#alert-warning-css-snippet', aria-controls='alert-warning-css-snippet', role='tab', data-toggle='tab') 
                | Bootstrap SCSS add-on
          .tab-content
            #alert-warning-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-section.alert-warning
                    i.eos-icons.md-18.alert-icon
                      | warning
                    .alert-body
                      .alert-title
                        | Subscriptions about to expire
                      | 7 of your systems’ subscriptions are about to expire in the next 30 days. To avoid any service interruption go to the
                      |
                      a(href='#')
                        | subscriptions page
                      |
                      | and renew the subscriptions.
                    a.close(data-dismiss='alert')
                      i.eos-icons.md-18
                        | close
                .css-snippet-container
                  .scss-snippet-btns.pull-right
                    i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                      | content_copy
                  pre.prettyprint.js-snippet-code
                    code
                      | &lt;div class='alert alert-section alert-warning'&gt;
                      |   &lt;i class='eos-icons md-18 alert-icon'&gt;warning&lt;/i&gt;
                      |   &lt;div class='alert-body'&gt;
                      |     &lt;div class='alert-title'&gt;Subscriptions about to expire&lt;/div&gt;
                      |     7 of your systems’ subscriptions are about to expire in the next 30 days. To avoid any service interruption 
                      |     go to the &lt;a href='#'&gt;subscriptions page&lt;/a&gt; to and renew the subscriptions.
                      |   &lt;/div&gt;
                      |   &lt;a class='close' data-dismiss='alert'&gt;
                      |      &lt;i class='eos-icons md-18'&gt;close&lt;/i&gt;
                      |   &lt;/a&gt;
                      | &lt;/div&gt;
              a.pull-right(href='https://xd.adobe.com/spec/7daf7fb7-58cf-4e3e-790a-ec316f8ca2f9-0b9e/', target='_blank')
                i.eos-icons.md-18
                  | launch
                | Alerts design specifications
            #alert-warning-css-snippet.tab-pane(role='tabpanel')
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                  a.js-tooltip(href='https://suse.eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                    i.eos-icons.md-18
                      | launch
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | /* Alert */
                    | .alert {
                    |   // reset Bootstrap border-radius
                    |   border-radius: 0;
                    |   border: 0; 
                    |   display: flex;
                    |   padding: 8px 8px 8px 24px;
                    |
                    |   .close {
                    |     opacity: 1;
                    |     text-shadow: none;
                    |     text-align: right;
                    |     flex: 1;
                    |     margin-left: 8px;
                    |
                    |     i {
                    |       margin-right: 0;
                    |     }
                    |   }
                    |   
                    |   > i {
                    |     margin-top: 2px;
                    |   }
                    |
                    |   a {
                    |     font-weight: 700;
                    |     text-decoration: underline;
                    |   }
                    | }
                    |
                    | /* Section alert */
                    | .alert-section {
                    |   // reset Bootstrap default border colours
                    |   color: $eos-bc-dark-gray;
                    |   border-left: 5px solid;
                    |
                    |   a {
                    |     color: $eos-bc-dark-gray;
                    |   }
                    |
                    |   .alert-title {
                    |     font-size: 16px;
                    |     font-weight: bold;
                    |     margin-bottom: 8px;
                    |   }
                    |   
                    |   /* Warning alert */
                    |   &.alert-warning {
                    |     background-color: $eos-bc-yellow-100;
                    |     border-color: $eos-bc-yellow-900;
                    |
                    |     .alert-icon {
                    |       color: $eos-bc-yellow-900;
                    |     }
                    |   }
                    | }
                button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                  | Show more
        .margin-top-xxl
          h4.title-strong.margin-top-m
            | Danger
          p
            | Danger alerts should be used when the system has failed to perform an action, or when the user has made an error.
          strong
            | * Never include a close icon or link to dismiss the action. In cases when alert should be dismissible use warning alert instead.

          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#alert-danger-example', aria-controls='alert-danger-example', role='tab', data-toggle='tab') 
                | Bootstrap implementation examples
            li(role='presentation')
              a(href='#alert-danger-css-snippet', aria-controls='alert-danger-css-snippet', role='tab', data-toggle='tab') 
                | Bootstrap SCSS add-on
          .tab-content
            #alert-danger-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-section.alert-danger
                    i.eos-icons.md-18.alert-icon
                      | error
                    .alert-body
                      .alert-title
                        | Expired subscriptions
                      | 2 of your systems’ subscriptions have expired and you can no longer access the systems until you renew your subscriptions. To stop seeing this message
                      |
                      a(href='#')
                        | renew your subscriptions
                      |
                      | or delete the systems from your organization.
                .css-snippet-container
                  .scss-snippet-btns.pull-right
                    i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                      | content_copy
                  pre.prettyprint.js-snippet-code
                    code
                      | &lt;div class='alert alert-section alert-danger'&gt;
                      |   &lt;i class='eos-icons md-18 alert-icon'&gt;error&lt;/i&gt;
                      |   &lt;div class='alert-body'&gt;
                      |     &lt;div class='alert-title'&gt;Expired subscriptions&lt;/div&gt;
                      |     2 of your systems’ subscriptions have expired and you can no longer access the systems until you renew your 
                      |     subscriptions. To stop seeing this message &lt;a href='#'&gt;renew your subscriptions&lt;/a&gt; or delete the systems from 
                      |     your organization.
                      |   &lt;/div&gt;
                      | &lt;/div&gt;
              a.pull-right(href='https://xd.adobe.com/spec/7daf7fb7-58cf-4e3e-790a-ec316f8ca2f9-0b9e/', target='_blank')
                i.eos-icons.md-18
                  | launch
                | Alerts design specifications
            #alert-danger-css-snippet.tab-pane(role='tabpanel')
              .css-snippet-container
                .scss-snippet-btns.pull-right
                  i.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                  a.js-tooltip(href='https://suse.eosdesignsystem.com/stylesheets/base/variables/branding.scss', target='_blank', data-toggle='tooltip', title='Get colors variables')
                    i.eos-icons.md-18
                      | launch
                pre.prettyprint.snippet-code.js-snippet-code
                  code
                    | /* Alert */
                    | .alert {
                    |   // reset Bootstrap border-radius
                    |   border-radius: 0;
                    |   border: 0; 
                    |   display: flex;
                    |   padding: 8px 8px 8px 24px;
                    |   
                    |   > i {
                    |     margin-top: 2px;
                    |   }
                    |
                    |   a {
                    |     font-weight: 700;
                    |     text-decoration: underline;
                    |   }
                    | }
                    |
                    | /* Section alert */
                    | .alert-section {
                    |   // reset Bootstrap default border colours
                    |   color: $eos-bc-dark-gray;
                    |   border-left: 5px solid;
                    |
                    |   a {
                    |     color: $eos-bc-dark-gray;
                    |   }
                    |
                    |   .alert-title {
                    |     font-size: 16px;
                    |     font-weight: bold;
                    |     margin-bottom: 8px;
                    |   }
                    |   
                    |   /* Danger alert */
                    |   &.alert-danger {
                    |     background-color: $eos-bc-red-100;
                    |     border-color: $eos-bc-red-500;
                    |
                    |     .alert-icon {
                    |       color: $eos-bc-red-500;
                    |     }
                    |   }
                    | }
                button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
                  | Show more
