// ps- prefix from panel-slidein
.ps-device-top
  h3.js-eos-icons-name
  .margin-top-xl.margin-bottom-xl.ps-device-icon
    .eos-icons.md-48.js-eos-icons-name.js-eos-icons-example-class
  h6
    | Code
  code
    | &lt;i class="
    span.js-eos-icons-base-class
    span.js-eos-icons-animated-class.margin-left-xs
    | "&gt
    span.js-eos-icons-name
    | &lt;/i&gt

h6.margin-top-l
  | When to use this icon
.ps-device-middle
  .do-dont-container.do-dont-container-full-width.margin-top-l
    .do-column
      .do-dont-title
        h6
          i.eos-icons.md-18
            | check_circle
          | Do
      .do-dont-content
        p.js-eos-icons-do
  hr.js-hide-container
  .do-dont-container.do-dont-container-full-width.js-hide-container
    .dont-column
      .do-dont-title
        h6
          i.eos-icons.md-18
            | cancel
          | Don't
      .do-dont-content
        p.js-eos-icons-dont
