.nav-wrap
  ul.menu-togglable.no-list-style
    li.menu-item
      span.main-collapsed-title
        | Dashboard
      a.menu-title.js-select-current-parent.js-feature-flag(href='/', data-feature-flag= docEnabled['/'])
        i.eos-icons
          | dashboard
        span.menu-title-content
          | Dashboard
    hr
    li.menu-item
      span.main-collapsed-title
        | Alerts
      a.menu-title.js-select-current-parent.js-feature-flag(href='/alerts', data-feature-flag= docEnabled['/alerts'])
        i.eos-icons
          | notifications
        span.menu-title-content
          | Alerts
    li.menu-item
      span.main-collapsed-title
        | Buttons
      a.menu-title.js-select-current-parent.js-feature-flag(href='/buttons', data-feature-flag= docEnabled['/buttons'])
        i.eos-icons
          | crop_16_9
        span.menu-title-content
          | Buttons
    li.menu-item
      span.main-collapsed-title
        | Colors
      a.menu-title.js-select-current-parent.js-feature-flag(href='/colors', data-feature-flag= docEnabled['/colors'])
        i.eos-icons
          | color_lens
        span.menu-title-content
          | Colors
    li.menu-item
      span.main-collapsed-title
        | Icons
      a.menu-title.js-select-current-parent.js-feature-flag(href='/icons', data-feature-flag= docEnabled['/icons'])
        i.eos-icons
          | miscellaneous
        span.menu-title-content
          | Icons
    li.menu-item
      span.main-collapsed-title
        | Patterns
      a.menu-title.js-select-current-parent.js-feature-flag(href='/patterns', data-feature-flag= docEnabled['/patterns'])
        img.md-18.margin-right-s(src='/images/patterns/patterns-icon.svg')
        span.menu-title-content
          | Patterns
    li.menu-item
      span.main-collapsed-title
        | Typography
      a.menu-title.js-select-current-parent.js-feature-flag(href='/typography', data-feature-flag= docEnabled['/typography'])
        i.eos-icons
          | text_fields
        span.menu-title-content
          | Typography
    li.menu-item
      span.main-collapsed-title
        | Writing guides
      a.menu-title.js-select-current-parent.js-feature-flag(href='/writing', data-feature-flag= docEnabled['/writing'])
        i.eos-icons
          | spellcheck
        span.menu-title-content
          | Writing guides
    - if ( process.env.NODE_ENV != 'staging' && process.env.NODE_ENV != 'production') {
      li.menu-item.menu-dropdown
        input#internal-tools-toggle(type='checkbox')
        label.menu-title(for='internal-tools-toggle')
          i.eos-icons
            | build
          span.menu-title-content
            | Internal tools
          i.eos-icons.md-18.pull-right.menu-expand
            | expand_more
        ul.menu-dropdown-list
          li.menu-collapsed-title
            | Internal tools
          li
            a.menu-title.js-select-current(href='/internal/icons-report')
              | Icons report
          li
            a.menu-title.js-select-current(href='/internal/special-icons')
              | Special icons list
          li
            a.menu-title.js-select-current(href='/internal/spacewalk-icons-suma')
              | Spacewalk icons in SUMA
          li
            a.menu-title.js-select-current(href='/internal/spacewalk-icons-scc')
              | Spacewalk icons in SCC
          li
            a.menu-title.js-select-current(href='/internal/stratos-icons')
              | Stratos icons list
          li
            a.menu-title.js-select-current(href='/internal/design-specs')
              | Design specs
    - }
