.submenu.js-submenu-section
  //- Colors
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='colors')
    a.submenu-item.js-select-current.js-feature-flag(href='/colors', data-feature-flag= docEnabled['/colors'])
      | Colors
    a.submenu-item.js-select-current.js-feature-flag(href='/colors/how-to', data-feature-flag= docEnabled['/colors/how-to'])
      | How to use
    a.submenu-item.js-select-current.js-feature-flag(href='/colors/gradients', data-feature-flag= docEnabled['/colors/gradients'])
      | Gradients

  //- Icons
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='icons')
    a.submenu-item.js-select-current.js-feature-flag(href='/icons', data-feature-flag= docEnabled['/icons'])
      | Icons
    a.submenu-item.js-select-current.js-feature-flag(href='/icons/eos-icons-set', data-feature-flag= docEnabled['/icons/eos-icons-set'])
      | EOS icons set
    a.submenu-item.js-select-current.js-feature-flag(href='/icons/logo-icons-set', data-feature-flag= docEnabled['/icons/logo-icons-set'])
      | Logo icons set
    a.submenu-item.js-select-current.js-feature-flag(href='/icons/material-icons', data-feature-flag= docEnabled['/icons/material-icons'])
      | Material Design icons
    a.submenu-item.js-select-current.js-feature-flag(href='/icons/icon-ux', data-feature-flag= docEnabled['/icons/icon-ux'])
      | Icon UX
    a.submenu-item.js-select-current.js-feature-flag(href='/icons/arrows-usage', data-feature-flag= docEnabled['/icons/arrows-usage'])
      | Arrows usage

  //- Writing guides
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='writing')
    a.submenu-item.js-select-current.js-feature-flag(href='/writing', data-feature-flag= docEnabled['/writing'])
      | Writing guides
    a.submenu-item.js-select-current.js-feature-flag(href='/writing/brand-voice', data-feature-flag= docEnabled['/writing/brand-voice'])
      | Brand voice
    a.submenu-item.js-select-current.js-feature-flag(href='/writing/brand-tone', data-feature-flag= docEnabled['/writing/brand-tone'])
      | Brand tone
    a.submenu-item.js-select-current.js-feature-flag(href='/writing/ux-writing', data-feature-flag= docEnabled['/writing/ux-writing'])
      | UX writing
    a.submenu-item.js-select-current.js-feature-flag(href='/writing/conventions-and-rules', data-feature-flag= docEnabled['/writing/conventions-and-rules'])
      | Conventions and rules
    a.submenu-item.js-select-current.js-feature-flag(href='/writing/acronyms', data-feature-flag= docEnabled['/writing/acronyms'])
      | Acronyms

  //- Buttons
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='buttons')
    a.submenu-item.js-select-current.js-feature-flag(href='/buttons', data-feature-flag= docEnabled['/buttons'])
      | Buttons
    a.submenu-item.js-select-current.js-feature-flag(href='/buttons/icon-buttons', data-route= '/buttons/icon-buttons', data-feature-flag= docEnabled['/buttons/icon-buttons'])
      | Icon buttons
    a.submenu-item.js-select-current.js-feature-flag(href='/buttons/sizing', data-route= '/buttons/sizing', data-feature-flag= docEnabled['/buttons/sizing'])
      | Sizing
    a.submenu-item.js-select-current.js-feature-flag(href='/buttons/positioning', data-route= '/buttons/positioning', data-feature-flag= docEnabled['/buttons/positioning'])
      | Positioning
    a.submenu-item.js-select-current.js-feature-flag(href='/buttons/how-to-use', data-route= '/buttons/how-to-use', data-feature-flag= docEnabled['/buttons/how-to-use'])
      | How to use

  //- Patterns
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='patterns')
    a.submenu-item.js-select-current.js-feature-flag(href='/patterns', data-feature-flag= docEnabled['/patterns'])
      | Patterns
    a.submenu-item.js-select-current.js-feature-flag(href='/patterns/common-actions', data-feature-flag= docEnabled['/patterns/common-actions'])
      | Common actions
    a.submenu-item.js-select-current.js-feature-flag(href='/patterns/loading', data-route= '/patterns/loading', data-feature-flag= docEnabled['/patterns/loading'])
      | Loading
    a.submenu-item.js-select-current.js-feature-flag(href='/patterns/spacing', data-route= '/patterns/spacing', data-feature-flag= docEnabled['/patterns/spacing'])
      | Spacing
    a.submenu-item.js-select-current.js-feature-flag(href='/patterns/date-time', data-route= '/patterns/date-time', data-feature-flag= docEnabled['/patterns/date-time'])
      | Date & time

  //- Alerts
  nav.main-submenu.js-submenu-make-visible(data-parent-menu='alerts')
    a.submenu-item.js-select-current.js-feature-flag(href='/alerts', data-feature-flag= docEnabled['/alerts'])
      | Alerts
    a.submenu-item.js-select-current.js-feature-flag(href='/alerts/global', data-feature-flag= docEnabled['/alerts/global'])
      | Global
    a.submenu-item.js-select-current.js-feature-flag(href='/alerts/section', data-feature-flag= docEnabled['/alerts/section'])
      | Section
    a.submenu-item.js-select-current.js-feature-flag(href='/alerts/inline', data-feature-flag= docEnabled['/alerts/inline'])
      | Inline

  //- Responsive nav
  .dropdown.dropdown-more.js-submenu-more
    a.submenu-item.dropdown-toggle(data-toggle='dropdown')
      i.eos-icons.md-24
        | more_horiz
    ul.dropdown-menu.dropdown-menu-left.js-submenu-content
      li
        span More
      li.js-submenu-more-list
