/* UX writing component variables
   ========================================================================== */
/**
* Colors and borders
*
* Meaningful colors: /assets/stylesheets/eos-base/variables/branding.scss
* Main colors: /assets/stylesheets/eos-base/variables/shadows.scss
*/

$eos-acronyms-table-shadow: $eos-box-shadow;
$eos-acronyms-table-margin-top: $eos-l;
$eos-acronyms-table-padding: $eos-l $eos-xxl 0 $eos-xxl;
$eos-acronyms-table-tr-th-padding: $eos-m;
