/* UX writing acronyms
   ========================================================================== */
.acronyms-table {
  box-shadow: $eos-acronyms-table-shadow;
  display: flex;
  justify-content: center;
  margin-top: $eos-acronyms-table-margin-top;
  padding: $eos-acronyms-table-padding;
  width: 100%;

  .table tr th {
    border-top: 0;
    padding: $eos-acronyms-table-tr-th-padding;
  }

  .table tr td {
    padding: $eos-acronyms-table-tr-th-padding;
  }
}
