/* Dashboard
   ========================================================================== */
/* Variables: /assets/stylesheets/eos-pages/dashboard/dashboard.variables.scss */
.dashboard {
  z-index: 0;

  .news-tutorials-carousel {
    margin-top: $eos-dash-news-tutorials-wrap;

    .slick-slide {
      margin: $eos-dash-slick-slide-margin;
    }
  }

  // /* custom card styles */
  .card {

    p {
      display: flex;
    }

    .round {
      align-items: center;
      background-image: linear-gradient(130deg, $eos-dash-active-circle-gradient-from 0%, $eos-dash-active-circle-gradient-to 100%);
      border-radius: 50%;
      display: flex;
      height: $eos-dash-round;
      justify-content: center;
      opacity: 0.68;
      width: $eos-dash-round;

      img {
        width: $eos-dash-figure-img-w;
      }
    }

    /* News and tutorials */
    figure {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: flex-start;
      width: 100%;

      @media screen and (max-width: $eos-sd-max) {
        align-items: center;
      }
    }
  }

  .resources-guides {
    margin-top: $eos-dash-resouces-guides-margin-top;

    h2 {
      margin-bottom: $eos-dash-resources-guides-h2-margin-bottom;
      margin-left: $eos-dash-resources-guides-h2-margin-left;
    }

    /* Resources and guides */
    .resource-content {
      display: none;
    }
  }
}
