/* Dashboard variables
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-dash-news-tutorials-wrap: $eos-xl;
$eos-dash-round: 140px;
$eos-dash-figure-space: $eos-xxl;
$eos-dash-figure-img-w: 100px;
$eos-dash-active-circle-gradient-from: $eos-bc-green-400;
$eos-dash-active-circle-gradient-to: $eos-bc-green-900;
$eos-dash-inactive-circle-gradient-from: $eos-bc-gray-200;
$eos-dash-inactive-circle-gradient-to: $eos-bc-gray-500;
$eos-dash-footer-padding: $eos-s;
$eos-dash-footer-disable-color: $eos-bc-gray-500;


$eos-dash-custom-breakpoint-tablet-max: 992px;
$eos-dash-custom-breakpoint-desktop-min: 993px;

$eos-dash-slick-slide-margin: 0 $eos-m 0 0;
$eos-dash-resouces-guides-margin-top: $eos-xxl;
$eos-dash-controller-margin-left: -$eos-xl - 2;
$eos-dash-controller-margin-top: 140px;
$eos-dash-resources-guides-h2-margin-bottom: $eos-xl;
$eos-dash-resources-guides-h2-margin-left: $eos-m;
