/* Label variables
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
/* Variables: /assets/stylesheets/eos-base/variables/typography.scss */
$eos-label-margin-top: $eos-m;
$eos-label-default-margin: $eos-xs $eos-s 0 0;
$eos-label-default-font-size: $eos-font-size-base;
