/* Alerts
  ========================================================================== */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-alerts-card-height: 445px;
$eos-alerts-card-figure: 276px;
$eos-alert-card-description-height: 65px;
$eos-alerts-demo-figure-max-width: 428px;
