.spacing-table {
  border-bottom: $eos-spacing-table-border;

  >thead>tr>th {
    border-bottom-color: $eos-spacing-table-tr-th-border;
    padding: $eos-spacing-table-tr-th-padding;
  }

  >tbody>tr>td {
    align-content: center;
    align-self: center;
    padding: $eos-spacing-table-tr-th-padding;
  }
}

.patter-scale-visual-block {
  background: $eos-pattern-scale-visual-block-background;
  content: '';
  display: inline-flex;

  &-xs {
    height: $eos-pattern-scale-visual-block-xs;
    width: $eos-pattern-scale-visual-block-xs;
  }

  &-s {
    height: $eos-pattern-scale-visual-block-s;
    width: $eos-pattern-scale-visual-block-s;
  }

  &-m {
    height: $eos-pattern-scale-visual-block-m;
    width: $eos-pattern-scale-visual-block-m;
  }

  &-l {
    height: $eos-pattern-scale-visual-block-l;
    width: $eos-pattern-scale-visual-block-l;
  }

  &-xl {
    height: $eos-pattern-scale-visual-block-xl;
    width: $eos-pattern-scale-visual-block-xl;
  }

  &-xxl {
    height: $eos-pattern-scale-visual-block-xxl;
    width: $eos-pattern-scale-visual-block-xxl;
  }

  &-xxxl {
    height: $eos-pattern-scale-visual-block-xxxl;
    width: $eos-pattern-scale-visual-block-xxxl;
  }
}
