/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */

$eos-spacing-table-border: 1px solid #ddd;
$eos-spacing-table-tr-th-border: $eos-bc-gray-500;
$eos-spacing-table-tr-th-padding: $eos-m;

$eos-pattern-scale-visual-block-background: $eos-bc-orange-400;
$eos-pattern-scale-visual-block-xs: $eos-xs;
$eos-pattern-scale-visual-block-s: $eos-s;
$eos-pattern-scale-visual-block-m: $eos-m;
$eos-pattern-scale-visual-block-l: $eos-l;
$eos-pattern-scale-visual-block-xl: $eos-xl;
$eos-pattern-scale-visual-block-xxl: $eos-xxl;
$eos-pattern-scale-visual-block-xxxl: $eos-xxxl;
