/* Tabs
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-tabs-border-color: $eos-bc-gray-80;
$eos-tabs-active-bg: $eos-bc-white;
$eos-tabs-active-border-color: $eos-bc-green-500;
$eos-tabs-inactive-bg: $eos-bc-gray-80;
$eos-tabs-text-color: $eos-bc-gray-900;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss 
Typography variables: /assets/stylesheets/eos-base/variables/typography.scss */
$eos-tabs-margin-top: $eos-xl;
$eos-tabs-content-padding: $eos-l;
$eos-tabs-li-line-height: $eos-line-height;
