/* Tabs
   ========================================================================== */
/**
* The following rules override the default look of Bootstrap's tabs
*
* Variables file: assets/stylesheets/eos-custom-components/tabs/tabs.variables.scss
*/
.tab-content {
  border-bottom: 1px solid $eos-tabs-border-color;
  border-left: 1px solid $eos-tabs-border-color;
  border-right: 1px solid $eos-tabs-border-color;
  display: grid;
  padding: $eos-tabs-content-padding;
}

.nav-tabs.nav-justified,
.nav-tabs {
  margin-top: $eos-tabs-margin-top;

  li {
    background: $eos-tabs-inactive-bg;
    border-top: 3px solid $eos-tabs-border-color;
    padding: 0;

    &:first-of-type {

      &.active {
        border-left: 1px solid $eos-tabs-border-color;
      }
    }

    &:last-of-type {

      &.active {
        border-right: 1px solid $eos-tabs-border-color;
      }
    }

    &.active {
      background: $eos-tabs-active-bg;
      border-top: 3px solid $eos-tabs-active-border-color;

      a,
      a:focus,
      a:hover {
        border: 0;
      }
    }

    a {
      line-height: $eos-tabs-li-line-height;
    }

    a,
    a:hover {
      border: 0;
      border-radius: 0;
      color: $eos-bc-gray-900;
      font-weight: bold;
    }
  }
}
