/* Typography page variables
   ========================================================================== */
/**
* Colors and borders
* 
* Typography variables: /assets/stylesheets/eos-base/variables/typography.scss
* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss
* 
* typo = Typography
*/
$eos-typo-design-spec-file-padding: $eos-m;
$eos-typo-design-spec-file-margin-top: $eos-xl;
$eos-typo-pa-block-h4-margin-bottom: $eos-xs;
$eos-typo-pa-block-p-margin: $eos-xs;
$eos-typo-type-scale-container-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.16);
$eos-type-scale-container-ul-padding: 0 $eos-s;
$eos-type-scale-container-li-padding: $eos-l 0;
$eos-type-scale-container-li-border-bottom: 1px solid $eos-bc-gray-900;
$eos-typo-article-h3-margin-bottom: $eos-m;
$eos-typo-scss-snippet-btns-margin-top: $eos-xs;
$eos-typo-pre-prettyprint-padding: $eos-xs + 2;
$eos-typo-code-font-size: $eos-font-size-base;
