/* Typography page
   ========================================================================== */
/* Variables: /assets/stylesheets/eos-pages/typography/typography.variables.scss */

.design-spec-file {
  box-shadow: $eos-typo-type-scale-container-box-shadow;
  display: inline-block;
  margin-top: $eos-typo-design-spec-file-margin-top;
  padding: $eos-typo-design-spec-file-padding;
}

article.typography {
  h3 {
    margin-bottom: $eos-typo-article-h3-margin-bottom;
  }

  .no-top-padding-list-style li {
    padding-top: 0;
  }

  .scss-snippet-btns {
    margin-top: $eos-typo-scss-snippet-btns-margin-top;
  }

  pre.prettyprint {
    border-radius: 0;
    padding: $eos-typo-pre-prettyprint-padding;
  }
}

.primary-alternative-block {

  h4 {
    margin-bottom: $eos-typo-pa-block-h4-margin-bottom;
  }

  p {
    margin-bottom: $eos-typo-pa-block-p-margin;
    margin-top: $eos-typo-pa-block-p-margin;
  }
}

.type-scale-container {
  overflow: auto;

  ul {
    margin-bottom: 0;
    padding: $eos-type-scale-container-ul-padding;

    li {
      align-items: center;
      border-bottom: $eos-type-scale-container-li-border-bottom;
      display: flex;
      overflow: auto;
      padding: $eos-type-scale-container-li-padding;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 0;
        margin-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }

      p {
        margin-bottom: 0;
        margin-top: 0;
      }

      code {
        background: transparent;
        font-size: $eos-typo-code-font-size;
      }
    }
  }
}
