/* Button styling
   ========================================================================== */
/* button */
.btn {
  border-radius: $eos-btn-border-radius;
  font-weight: bold;
  line-height: $eos-btn-line-height;
  padding: $eos-btn-padding;

  &:active,
  &.active {
    box-shadow: none;
  }

  .eos-icons {
    margin-right: 0;
    vertical-align: sub;
  }
}

/* Default button */
.btn-default {
  background-color: transparent;
  border-color: $eos-btn-default-color;
  color: $eos-btn-default-color;

  &:hover,
  &:active:hover {
    background-color: transparent;
    border-color: $eos-btn-default-color-hover;
    color: $eos-btn-default-color-hover;
  }

  &:active,
  &.active,
  &:focus,
  &.focus,
  &.active.focus,
  &.active:focus,
  &:active:focus,
  &:active.focus {
    background-color: transparent;
    border-color: $eos-btn-default-color-active;
    color: $eos-btn-default-color-active;
  }

  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    border-color: $eos-btn-default-color;
    color: $eos-btn-default-color;
    opacity: .60;
  }
}

/* Default button inverse */
.btn-default-inverse {
  background-color: transparent;
  border-color: $eos-btn-default-inverse-color;
  color: $eos-btn-default-inverse-color;

  &:hover,
  &:active:hover {
    border-color: $eos-btn-default-inverse-color-hover;
    color: $eos-btn-default-inverse-color-hover;
  }

  &:active,
  &.active,
  &:focus,
  &.focus,
  &.active.focus,
  &.active:focus,
  &:active:focus,
  &:active.focus {
    border-color: $eos-btn-default-inverse-color-active;
    color: $eos-btn-default-inverse-color-active;
  }

  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    border-color: $eos-btn-default-inverse-color;
    color: $eos-btn-default-inverse-color;
    opacity: .55;
  }
}

/* Primary button */
.btn-primary {
  background-color: $eos-btn-primary-color;
  border-color: $eos-btn-primary-color;
  color: $eos-btn-primary-text-color;

  &:hover,
  &:active:hover {
    background-color: $eos-btn-primary-color-hover;
    border-color: $eos-btn-primary-color-hover;
    color: $eos-btn-primary-text-color;
  }

  &:active,
  &.active,
  &:focus,
  &.focus,
  &.active.focus,
  &.active:focus,
  &:active:focus,
  &:active.focus {
    background-color: $eos-btn-primary-color-active;
    border-color: $eos-btn-primary-color-active;
    color: $eos-btn-primary-text-color;
  }

  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    background-color: $eos-btn-primary-color;
    border-color: $eos-btn-primary-color;
    color: $eos-btn-primary-text-color;
    opacity: .60;
  }
}

/* Outline primary button */
.btn-outline-primary {
  background-color: transparent;
  border-color: $eos-btn-primary-color;
  color: $eos-btn-primary-color;

  &:hover,
  &:active:hover {
    border-color: $eos-btn-primary-color-hover;
    color: $eos-btn-primary-color-hover;
  }

  &:active,
  &.active,
  &:focus,
  &.focus,
  &.active.focus,
  &.active:focus,
  &:active:focus,
  &:active.focus {
    border-color: $eos-btn-primary-color-active;
    color: $eos-btn-primary-color-active;
  }

  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    border-color: $eos-btn-primary-color;
    color: $eos-btn-primary-color;
    opacity: .60;
  }
}

/* Danger button */
.btn-danger {
  background-color: $eos-btn-danger-color;
  border-color: $eos-btn-danger-color;
  color: $eos-btn-danger-text-color;

  &:hover,
  &:active:hover {
    background-color: $eos-btn-danger-color-hover;
    border-color: $eos-btn-danger-color-hover;
    color: $eos-btn-danger-text-color;
  }

  &:active,
  &.active,
  &:focus,
  &.focus,
  &.active.focus,
  &.active:focus,
  &:active:focus,
  &:active.focus {
    background-color: $eos-btn-danger-color-active;
    border-color: $eos-btn-danger-color-active;
    color: $eos-btn-danger-text-color;
  }

  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    background-color: $eos-btn-danger-color;
    border-color: $eos-btn-danger-color;
    color: $eos-btn-danger-text-color;
    opacity: .60;
  }
}

/* Extra small button */
.btn-xs {
  padding: $eos-btn-xs-padding;
}

/* Small button */
.btn-sm {
  padding: $eos-btn-sm-padding;
}

/* Vertical-align icons Extra small and small button */
.btn-xs,
.btn-sm {
  .eos-icons {
    vertical-align: bottom;
  }
}

/* Large button */
.btn-lg {
  padding: $eos-btn-lg-padding;
}
