/* Buttons variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacing.scss */
/* Typography variables: /assets/stylesheets/eos-base/variables/typography.scss */

/* btn */
$eos-btn-border-radius: 2px;
$eos-btn-line-height: $eos-line-height;
$eos-btn-padding: $eos-s $eos-m;

/* Default button */
$eos-btn-default-color: $eos-bc-gray-900;
$eos-btn-default-color-hover: $eos-bc-gray-600;
$eos-btn-default-color-active: $eos-bc-gray-500;

/* Default button inverse */
$eos-btn-default-inverse-color: $eos-bc-white;
$eos-btn-default-inverse-color-hover: $eos-bc-gray-200;
$eos-btn-default-inverse-color-active: $eos-bc-gray-400;

/* Primary button and outline primary button */
$eos-btn-primary-color: $eos-bc-green-500;
$eos-btn-primary-text-color: $eos-bc-white;
$eos-btn-primary-color-hover: $eos-bc-green-900;
$eos-btn-primary-color-active: $eos-bc-green-700;

/* Danger button */
$eos-btn-danger-color: $eos-bc-red-500;
$eos-btn-danger-text-color: $eos-bc-white;
$eos-btn-danger-color-hover: $eos-bc-red-900;
$eos-btn-danger-color-active: $eos-bc-red-700;

/* Small button */
$eos-btn-xs-padding: $eos-xs - 2 $eos-xs;

/* Small button */
$eos-btn-sm-padding: $eos-xs $eos-s;

/* Large button */
$eos-btn-lg-padding: $eos-s $eos-m;
