/* Base variables for icons
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */

/* Icons */
$eos-icon-new-size: $eos-font-size-base;
$eos-icon-new-color: $eos-bc-green-500;
$eos-icon-new-active-color: $eos-bc-white;
$eos-logo-icon-margin: 8px;
$eos-logo-icon-padding: 6px;
$eos-logo-icon-wrapper-round: 2px;

/* Material icons variables */
// colors
$eos-md-light: $eos-bc-white;
$eos-md-light-inactive: rgba($eos-md-light, 0.3);
$eos-md-dark: rgba($eos-bc-dark-gray, 0.54);
$eos-md-dark-inactive: rgba($eos-bc-dark-gray, 0.26);
// sizes
$eos-md-18: 18px;
$eos-md-24: 24px;
$eos-md-36: 36px;
$eos-md-48: 48px;
