/* Base classes for icons
   ========================================================================== */
/**
* Dependencies:
*   - helpers/mixins.scss
*   - components/icons/icons.variables.scss
*   - base/variables/spacings.scss
*/
.eos-icons {
  margin-right: $eos-s;
  vertical-align: bottom;
}

/* Rules for sizing the icon. */
.md-18 {
  font-size: $eos-md-18;
}

.md-24 {
  font-size: $eos-md-24;
}

.md-36 {
  font-size: $eos-md-36;
}

.md-48 {
  font-size: $eos-md-48;
}

/* Allow image icons, like svg, to use the icon size classes */
img {
  &.md-18 {
    @include img-md($eos-md-18)
  }

  &.md-24 {
    @include img-md($eos-md-24)
  }

  &.md-36 {
    @include img-md($eos-md-36)
  }

  &.md-48 {
    @include img-md($eos-md-48)
  }
}

/* Rules for icon colors. */
.md-light {
  color: $eos-md-light;

  &.md-inactive {
    color: $eos-md-light-inactive;
  }
}

.md-dark {
  color: $eos-md-dark;

  &.md-inactive {
    color: $eos-md-dark-inactive;
  }
}

/* Logo icons style */
.logo {
  margin-right: $eos-logo-icon-margin;
  padding: $eos-logo-icon-padding;

  &-square {
    border-radius: 0;
  }

  &-round {
    border-radius: $eos-logo-icon-wrapper-round;
  }
}

/* Wrapper background */
.md-dark-wrapper {
  background: $eos-md-dark;

  &.md-inactive {
    background: $eos-md-dark-inactive;
  }
}

.md-light-wrapper {
  background: $eos-md-light;

  &.md-inactive {
    background: $eos-md-light-inactive;
  }
}

/* Icons - general (not eos-icons classes) */
.main-menu {

  .active {

    .icon-new {
      color: $eos-icon-new-active-color;
    }
  }
}
