/* Links
   ========================================================================== */
/**
*
* Links variables: /assets/stylesheets/eos-base/variables/links.scss
*/

/* Set the link color to our blue and not the bootstrap default */
/* Remove the default text decoration from link status */
a,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

a,
.link-default {
  color: $eos-link-default-color;
  font-weight: bold;

  &:hover {
    color: $eos-link-default-color;
    cursor: pointer;
    text-decoration: underline;
  }

  & * p {
    font-weight: normal;
  }
}

a.link-dark {
  color: $eos-link-dark-color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

a.link-light {
  color: $eos-link-light-color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
