/* List styles
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
/* Reset list styles */
.no-list-style {
  list-style: none;
  padding-left: 0;

  ul {
    list-style: none;
    padding-left: 0;
    padding-top: $eos-s;

    li {

      a {
        padding-left: $eos-xl;
      }

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }
}

/* List without padding */
.list-no-padding {
  list-style-position: inside;
  padding-left: 0;
}

.ul-horizontal {

  &.no-list-style {
    li {
      margin-right: $eos-m;
    }
  }

  li {
    display: inline-block;
  }
}

li {
  padding: $eos-s 0 $eos-s;
}

ol > li {
  padding-left: $eos-m;

  .fa {
    margin-right: $eos-s;
  }
}

dd {
  margin-left: $eos-xl;
}

@media screen and (max-width: $eos-sd-max) {
  ul {
    padding-left: $eos-xs;
  }
}
