/* Text
   ========================================================================== */
/**
* Muted text
*
* Colors variables: /assets/stylesheets/eos-base/variables/text.scss
*/
.text-muted {
  color: $eos-text-muted-color;
}

/* Underlined text */
.text-underline {
  text-decoration: underline;
}
