extends ../layouts/layout-main

block content
  .container
    section
      h1
        | How to use the color palettes
      p.subheadline
        | Whether designing new components and UI elements, or simply re-branding 
        | an application, follow these simple rules to consistently use 
        | and combine the color palettes for text, backgrounds, and links.
    hr

    article
      h3
        | Text and titles on monochromatic backgrounds
      p
        | The text color must be white on black backgrounds. 
        | On white backgrounds the text color must be the darkest shade of gray.

      .usage-example
        .title
          h5
            | #686565
          p
            code
              | $eos-bc-gray-900
        .wrap.white-gray
          p.wrap-content
            | Default text color on white
      .usage-example
        .title
          h5
            | #FFFFFF
          p
            code
              | $eos-bc-white
        .wrap.dark-gray-white
          p.wrap-content
            | Default text color on dark gray
    article
      h3.margin-top-xxl
        | Text and titles on colored backgrounds
      p
        | Always use white as text color on colored backgrounds. If the 
        a(href='#contrast')
          | contrast   
        | between white text and the background fails, use dark gray as
        | text color.

      .usage-example
        .title
          h5
            | #FFFFFF
          p
            code
              | $eos-bc-white
        .wrap.white-violet
          p.wrap-content
            | Text on colored backgrounds
      .usage-example
        .title
          h5
            | #141823
          p.wrap-content
            code
              | $eos-bc-dark-gray
        .wrap.black-cerulean
          p.wrap-content
            | Text on colored backgrounds

    article
      h3.margin-top-xxl
        | Link colors
      p
        | The darkest shade (900) of the 
        strong
          | Cerulean 
        | color is the default color for links. Link text is bold.
      p
        | For hover use underline.
      .usage-example
        .title
          h5
            | #008ACF
          p
            code
              | $eos-bc-cerulean-900
        .wrap.cerulean-white
          p.wrap-content
            | This is the default 
            a
              | link color
      .implementation-example
        h5.title-strong.margin-top-l
          | Special use case
        p
          | When the color 
          a(href='#contrast')
            | contrast 
          | fails between 
          code
            | $eos-bc-cerulean-900
          |
          | and the element’s background, link 
          | color remain same as the text color dark gray or white. Link text is bold and underline.

        p
          | Remove underline on hover.
        .usage-example.margin-bottom-m
          .title
            h5
              | #141823
            p
              code
                | $eos-bc-dark-gray
          .wrap.yellow
            p.wrap-content
              | Link on colored 
              a.link-dark
                | backgrounds
      .implementation-example
        .usage-example.margin-bottom-m
          .title
            h5
              | #FFFFFF
            p
              code
                | $eos-bc-white
          .wrap.green-blue
            p.wrap-content
              | Link on colored 
              a.link-light
                | backgrounds
      ul.nav.nav-tabs.nav-justified(role='tablist')
        li.active(role='presentation')
          a(href='#icon-colors-examples', aria-controls='icon-colors-examples', role='tab', data-toggle='tab') 
            | Implementation examples
        li(role='presentation')
          a(href='#icon-colors-css-snippet', aria-controls='icon-colors-css-snippet', role='tab', data-toggle='tab') 
            | SCSS code snippet
      .tab-content
        #icon-colors-examples.tab-pane.active(role='tabpanel')
          .implementation-example
            .result
              a
                | Edit node details
            .css-snippet-container
              .scss-snippet-btns.pull-right.no-top-margin
                i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                  | content_copy
              pre.prettyprint.js-snippet-code
                code
                  | &lt;a href='#'&gt;Edit node details&lt;/a&gt;
          .implementation-example
            .result
              a.link-dark
                | Edit node details
            .css-snippet-container
              .scss-snippet-btns.pull-right.no-top-margin
                i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                  | content_copy
              pre.prettyprint.js-snippet-code
                code
                  | &lt;a href='#' class='link-dark'&gt;Edit node details&lt;/a&gt;
          .implementation-example
            .result.dark-bg
              a.link-light
                | Edit node details
            .css-snippet-container
              .scss-snippet-btns.pull-right.no-top-margin
                i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                  | content_copy
              pre.prettyprint.js-snippet-code
                code
                  | &lt;a href='#' class='link-light'&gt;Edit node details&lt;/a&gt;
        #icon-colors-css-snippet.tab-pane(role='tabpanel')
          .css-snippet-container
            .scss-snippet-btns.pull-right
              i.eos-icons.md-18.md-light.js-copy-snippet
                | content_copy
              a.js-tooltip(href='https://suse.eosdesignsystem.com/stylesheets/base/variables/links.scss', target='_blank', data-toggle='tooltip', title='Get SCSS variables')
                i.eos-icons.md-18
                  | launch
            pre.prettyprint.snippet-code.js-snippet-code
              code
                | /* Shared link rules */
                | a,
                | a:active,
                | a:visited,
                | a:focus {
                |   text-decoration: none;
                | }
                |
                | /* Default link */
                | a {
                |   color: $eos-link-default-color;
                |   font-weight: bold;
                |
                |   &:hover {
                |     color: $eos-link-default-color;
                |     cursor: pointer;
                |     text-decoration: underline;
                |   }
                | }
                |
                | /* Dark link */
                | a.link-dark {
                |   color: $eos-link-dark-color;
                |   text-decoration: underline;
                |
                |   &:hover {
                |     text-decoration: none;
                |   }
                | }
                |
                | /* Light link */
                | a.link-light {
                |   color: $eos-link-light-color;
                |   text-decoration: underline;
                |
                |   &:hover {
                |     text-decoration: none;
                |   }
                | }
            button.btn.btn-default-inverse.btn-xs.show-more-less.js-show-more-less
              | Show more
    hr
    article#contrast
      h3
        | Color contrast
      p
        | When chosing colors take into account the contrast ratio of the foreground to background color. The W3C created guidelines for exactly this purpose (WCAG 2.0). These require that text uses adequate contrast for visually impaired people.
      p 
        | WCAG 2.0 Level AA (standard) requires a contrast ratio of at least 4.5:1 for normal text (14px) and 3:1 for larger text (~18px). This level represents people with 20/40 vision (typical visual acuity of elders at roughly age 80).
      p
        | While our software should be usable by people with slightly impaired vision, we have made certain exceptions in order to express our brand properly while taking into account the overall effect on the usability and accesability of our products.

      h5.margin-top-xxl
        | How to check the contrast ratio
      p
        | The most common tool is   
        a(href='http://contrast-ratio.com/#%23333-on-white', target='_blank')
          | contrast-ratio.com  
        | where you can check the contrast ratio between two colors.
